//
// Written by Synplify Pro 
// Product Version "Q-2020.03M-SP1"
// Program "Synplify Pro", Mapper "map202003act, Build 160R"
// Sat Oct 14 14:49:56 2023
//
// Source file index table:
// Object locations will have the form <file>:<line>
// file 0 "\c:\microsemi\libero_soc_v12.6\synplifypro\lib\generic\smartfusion2.v "
// file 1 "\c:\microsemi\libero_soc_v12.6\synplifypro\lib\vlog\hypermods.v "
// file 2 "\c:\microsemi\libero_soc_v12.6\synplifypro\lib\vlog\umr_capim.v "
// file 3 "\c:\microsemi\libero_soc_v12.6\synplifypro\lib\vlog\scemi_objects.v "
// file 4 "\c:\microsemi\libero_soc_v12.6\synplifypro\lib\vlog\scemi_pipes.svh "
// file 5 "\c:\microsemi_prj\sf2project\component\work\sf2project_mss\sf2project_mss_syn.v "
// file 6 "\c:\microsemi_prj\sf2project\component\work\sf2project_mss\sf2project_mss.v "
// file 7 "\c:\microsemi_prj\sf2project\component\work\sf2project\sf2project.v "
// file 8 "\c:\microsemi\libero_soc_v12.6\synplifypro\lib\nlconst.dat "
// file 9 "\c:\microsemi_prj\sf2project\designer\sf2project\synthesis.fdc "

`timescale 100 ps/100 ps
module SF2Project_MSS (
  MDDR_DQS,
  MDDR_DQS_N,
  MAC_MII_RXD,
  MAC_MII_TXD,
  MDDR_ADDR,
  MDDR_BA,
  MDDR_DM_RDQS,
  MDDR_DQ,
  USB_ULPI_DATA,
  MDDR_CLK,
  MDDR_CLK_N,
  MCCC_CLK_BASE,
  MAC_MII_TX_CLK,
  MAC_MII_RX_ER,
  MAC_MII_RX_DV,
  MAC_MII_RX_CLK,
  MAC_MII_CRS,
  MAC_MII_COL,
  MAC_MII_TX_ER,
  MAC_MII_TX_EN,
  I2C_0_SCL,
  I2C_0_SDA,
  I2C_1_SCL,
  I2C_1_SDA,
  MDDR_CAS_N,
  MDDR_CKE,
  MDDR_CS_N,
  MDDR_DQS_TMATCH_0_IN,
  MDDR_DQS_TMATCH_0_OUT,
  MDDR_ODT,
  MDDR_RAS_N,
  MDDR_RESET_N,
  MDDR_WE_N,
  MMUART_0_RXD,
  MMUART_0_TXD,
  MMUART_1_RXD,
  MMUART_1_TXD,
  SPI_0_CLK,
  SPI_0_DI,
  SPI_0_DO,
  SPI_0_SS0,
  SPI_1_CLK,
  SPI_1_DI,
  SPI_1_DO,
  SPI_1_SS0,
  USB_ULPI_DIR,
  USB_ULPI_NXT,
  USB_ULPI_STP,
  USB_ULPI_XCLK
)
;
inout [1:0] MDDR_DQS /* synthesis syn_tristate = 1 */ ;
inout [1:0] MDDR_DQS_N /* synthesis syn_tristate = 1 */ ;
input [3:0] MAC_MII_RXD ;
output [3:0] MAC_MII_TXD ;
output [15:0] MDDR_ADDR ;
output [2:0] MDDR_BA ;
inout [1:0] MDDR_DM_RDQS /* synthesis syn_tristate = 1 */ ;
inout [15:0] MDDR_DQ /* synthesis syn_tristate = 1 */ ;
inout [7:0] USB_ULPI_DATA /* synthesis syn_tristate = 1 */ ;
output MDDR_CLK ;
output MDDR_CLK_N ;
input MCCC_CLK_BASE ;
input MAC_MII_TX_CLK ;
input MAC_MII_RX_ER ;
input MAC_MII_RX_DV ;
input MAC_MII_RX_CLK ;
input MAC_MII_CRS ;
input MAC_MII_COL ;
output MAC_MII_TX_ER ;
output MAC_MII_TX_EN ;
inout I2C_0_SCL /* synthesis syn_tristate = 1 */ ;
inout I2C_0_SDA /* synthesis syn_tristate = 1 */ ;
inout I2C_1_SCL /* synthesis syn_tristate = 1 */ ;
inout I2C_1_SDA /* synthesis syn_tristate = 1 */ ;
output MDDR_CAS_N ;
output MDDR_CKE ;
output MDDR_CS_N ;
input MDDR_DQS_TMATCH_0_IN ;
output MDDR_DQS_TMATCH_0_OUT ;
output MDDR_ODT ;
output MDDR_RAS_N ;
output MDDR_RESET_N ;
output MDDR_WE_N ;
input MMUART_0_RXD ;
output MMUART_0_TXD ;
input MMUART_1_RXD ;
output MMUART_1_TXD ;
inout SPI_0_CLK /* synthesis syn_tristate = 1 */ ;
input SPI_0_DI ;
output SPI_0_DO ;
inout SPI_0_SS0 /* synthesis syn_tristate = 1 */ ;
inout SPI_1_CLK /* synthesis syn_tristate = 1 */ ;
input SPI_1_DI ;
output SPI_1_DO ;
inout SPI_1_SS0 /* synthesis syn_tristate = 1 */ ;
input USB_ULPI_DIR ;
input USB_ULPI_NXT ;
output USB_ULPI_STP ;
input USB_ULPI_XCLK ;
wire MDDR_CLK ;
wire MDDR_CLK_N ;
wire MCCC_CLK_BASE ;
wire MAC_MII_TX_CLK ;
wire MAC_MII_RX_ER ;
wire MAC_MII_RX_DV ;
wire MAC_MII_RX_CLK ;
wire MAC_MII_CRS ;
wire MAC_MII_COL ;
wire MAC_MII_TX_ER ;
wire MAC_MII_TX_EN ;
wire I2C_0_SCL ;
wire I2C_0_SDA ;
wire I2C_1_SCL ;
wire I2C_1_SDA ;
wire MDDR_CAS_N ;
wire MDDR_CKE ;
wire MDDR_CS_N ;
wire MDDR_DQS_TMATCH_0_IN ;
wire MDDR_DQS_TMATCH_0_OUT ;
wire MDDR_ODT ;
wire MDDR_RAS_N ;
wire MDDR_RESET_N ;
wire MDDR_WE_N ;
wire MMUART_0_RXD ;
wire MMUART_0_TXD ;
wire MMUART_1_RXD ;
wire MMUART_1_TXD ;
wire SPI_0_CLK ;
wire SPI_0_DI ;
wire SPI_0_DO ;
wire SPI_0_SS0 ;
wire SPI_1_CLK ;
wire SPI_1_DI ;
wire SPI_1_DO ;
wire SPI_1_SS0 ;
wire USB_ULPI_DIR ;
wire USB_ULPI_NXT ;
wire USB_ULPI_STP ;
wire USB_ULPI_XCLK ;
wire [1:0] DRAM_FIFO_WE_OUT_net_0;
wire [17:0] DRAM_DQ_OUT_net_0;
wire [17:0] DRAM_DQ_OE_net_0;
wire [2:0] DRAM_DM_RDQS_OUT_net_0;
wire [2:0] DM_OE_net_0;
wire [2:0] DRAM_BA_net_0;
wire [15:0] DRAM_ADDR_net_0;
wire [7:0] EDAC_ERROR;
wire [31:0] F_FM0_RDATA;
wire [31:0] F_HM0_ADDR;
wire [1:0] F_HM0_SIZE;
wire [31:0] F_HM0_WDATA;
wire [1:0] FAB_OPMODE;
wire [3:0] FAB_VCONTROL;
wire [1:0] FAB_XCVRSEL;
wire [7:0] FAB_XDATAOUT;
wire [1:0] FIC32_0_MASTER;
wire [1:0] FIC32_1_MASTER;
wire [15:0] H2F_INTERRUPT;
wire [15:2] PER2_FABRIC_PADDR;
wire [31:0] PER2_FABRIC_PWDATA;
wire [9:0] TCGF;
wire [3:0] TRACEDATA;
wire [3:0] TXD_RIF;
wire [7:4] TXDF_net_0;
wire [3:0] F_BID;
wire [1:0] F_BRESP_HRESP0;
wire [63:0] F_RDATA_HRDATA01;
wire [3:0] F_RID;
wire [1:0] F_RRESP_HRESP1;
wire [15:0] MDDR_FABRIC_PRDATA;
wire [2:0] DRAM_DQS_OUT_net_0;
wire [2:0] DRAM_DQS_OE_net_0;
wire USB_ULPI_XCLK_PAD_Y ;
wire MSS_ADLIB_INST_RGMII_TXD1_RMII_TXD1_USBB_STP_OUT ;
wire MSS_ADLIB_INST_RGMII_TXD1_RMII_TXD1_USBB_STP_OE ;
wire USB_ULPI_NXT_PAD_Y ;
wire USB_ULPI_DIR_PAD_Y ;
wire USB_ULPI_DATA_7_PAD_Y ;
wire MSS_ADLIB_INST_RGMII_MDIO_RMII_MDIO_USBB_DATA7_OUT ;
wire MSS_ADLIB_INST_RGMII_MDIO_RMII_MDIO_USBB_DATA7_OE ;
wire USB_ULPI_DATA_6_PAD_Y ;
wire MSS_ADLIB_INST_RGMII_TXD3_USBB_DATA6_OUT ;
wire MSS_ADLIB_INST_RGMII_TXD3_USBB_DATA6_OE ;
wire USB_ULPI_DATA_5_PAD_Y ;
wire MSS_ADLIB_INST_RGMII_TXD2_USBB_DATA5_OUT ;
wire MSS_ADLIB_INST_RGMII_TXD2_USBB_DATA5_OE ;
wire USB_ULPI_DATA_4_PAD_Y ;
wire MSS_ADLIB_INST_RGMII_RXD3_USBB_DATA4_OUT ;
wire MSS_ADLIB_INST_RGMII_RXD3_USBB_DATA4_OE ;
wire USB_ULPI_DATA_3_PAD_Y ;
wire MSS_ADLIB_INST_RGMII_RXD2_RMII_RX_ER_USBB_DATA3_OUT ;
wire MSS_ADLIB_INST_RGMII_RXD2_RMII_RX_ER_USBB_DATA3_OE ;
wire USB_ULPI_DATA_2_PAD_Y ;
wire MSS_ADLIB_INST_RGMII_RX_CTL_RMII_CRS_DV_USBB_DATA2_OUT ;
wire MSS_ADLIB_INST_RGMII_RX_CTL_RMII_CRS_DV_USBB_DATA2_OE ;
wire USB_ULPI_DATA_1_PAD_Y ;
wire MSS_ADLIB_INST_RGMII_RXD1_RMII_RXD1_USBB_DATA1_OUT ;
wire MSS_ADLIB_INST_RGMII_RXD1_RMII_RXD1_USBB_DATA1_OE ;
wire USB_ULPI_DATA_0_PAD_Y ;
wire MSS_ADLIB_INST_RGMII_RXD0_RMII_RXD0_USBB_DATA0_OUT ;
wire MSS_ADLIB_INST_RGMII_RXD0_RMII_RXD0_USBB_DATA0_OE ;
wire SPI_1_SS0_PAD_Y ;
wire MSS_ADLIB_INST_SPI1_SS0_MGPIO13A_OUT ;
wire MSS_ADLIB_INST_SPI1_SS0_MGPIO13A_OE ;
wire MSS_ADLIB_INST_SPI1_SDO_MGPIO12A_OUT ;
wire MSS_ADLIB_INST_SPI1_SDO_MGPIO12A_OE ;
wire SPI_1_DI_PAD_Y ;
wire SPI_1_CLK_PAD_Y ;
wire MSS_ADLIB_INST_SPI1_SCK_OUT ;
wire MSS_ADLIB_INST_SPI1_SCK_OE ;
wire SPI_0_SS0_PAD_Y ;
wire MSS_ADLIB_INST_SPI0_SS0_USBA_NXT_MGPIO7A_OUT ;
wire MSS_ADLIB_INST_SPI0_SS0_USBA_NXT_MGPIO7A_OE ;
wire MSS_ADLIB_INST_SPI0_SDO_USBA_STP_MGPIO6A_OUT ;
wire MSS_ADLIB_INST_SPI0_SDO_USBA_STP_MGPIO6A_OE ;
wire SPI_0_DI_PAD_Y ;
wire SPI_0_CLK_PAD_Y ;
wire MSS_ADLIB_INST_SPI0_SCK_USBA_XCLK_OUT ;
wire MSS_ADLIB_INST_SPI0_SCK_USBA_XCLK_OE ;
wire MSS_ADLIB_INST_MMUART1_TXD_USBC_DATA2_MGPIO24B_OUT ;
wire MSS_ADLIB_INST_MMUART1_TXD_USBC_DATA2_MGPIO24B_OE ;
wire MMUART_1_RXD_PAD_Y ;
wire MSS_ADLIB_INST_MMUART0_TXD_USBC_DIR_MGPIO27B_OUT ;
wire MSS_ADLIB_INST_MMUART0_TXD_USBC_DIR_MGPIO27B_OE ;
wire MMUART_0_RXD_PAD_Y ;
wire MSS_ADLIB_INST_DRAM_WEN ;
wire MSS_ADLIB_INST_DRAM_RSTN ;
wire MSS_ADLIB_INST_DRAM_RASN ;
wire MSS_ADLIB_INST_DRAM_ODT ;
wire MDDR_DQS_TMATCH_0_IN_PAD_Y ;
wire MDDR_DQ_15_PAD_Y ;
wire MDDR_DQ_14_PAD_Y ;
wire MDDR_DQ_13_PAD_Y ;
wire MDDR_DQ_12_PAD_Y ;
wire MDDR_DQ_11_PAD_Y ;
wire MDDR_DQ_10_PAD_Y ;
wire MDDR_DQ_9_PAD_Y ;
wire MDDR_DQ_8_PAD_Y ;
wire MDDR_DQ_7_PAD_Y ;
wire MDDR_DQ_6_PAD_Y ;
wire MDDR_DQ_5_PAD_Y ;
wire MDDR_DQ_4_PAD_Y ;
wire MDDR_DQ_3_PAD_Y ;
wire MDDR_DQ_2_PAD_Y ;
wire MDDR_DQ_1_PAD_Y ;
wire MDDR_DQ_0_PAD_Y ;
wire MDDR_DM_RDQS_1_PAD_Y ;
wire MDDR_DM_RDQS_0_PAD_Y ;
wire MSS_ADLIB_INST_DRAM_CSN ;
wire MSS_ADLIB_INST_DRAM_CKE ;
wire MSS_ADLIB_INST_DRAM_CASN ;
wire I2C_1_SDA_PAD_Y ;
wire MSS_ADLIB_INST_I2C1_SDA_USBA_DATA3_MGPIO0A_OUT ;
wire MSS_ADLIB_INST_I2C1_SDA_USBA_DATA3_MGPIO0A_OE ;
wire I2C_1_SCL_PAD_Y ;
wire MSS_ADLIB_INST_I2C1_SCL_USBA_DATA4_MGPIO1A_OUT ;
wire MSS_ADLIB_INST_I2C1_SCL_USBA_DATA4_MGPIO1A_OE ;
wire I2C_0_SDA_PAD_Y ;
wire MSS_ADLIB_INST_I2C0_SDA_USBC_DATA0_MGPIO30B_OUT ;
wire MSS_ADLIB_INST_I2C0_SDA_USBC_DATA0_MGPIO30B_OE ;
wire I2C_0_SCL_PAD_Y ;
wire MSS_ADLIB_INST_I2C0_SCL_USBC_DATA1_MGPIO31B_OUT ;
wire MSS_ADLIB_INST_I2C0_SCL_USBC_DATA1_MGPIO31B_OE ;
wire CAN_RXBUS_MGPIO3A_H2F_A ;
wire CAN_RXBUS_MGPIO3A_H2F_B ;
wire CAN_TX_EBL_MGPIO4A_H2F_A ;
wire CAN_TX_EBL_MGPIO4A_H2F_B ;
wire CAN_TXBUS_MGPIO2A_H2F_A ;
wire CAN_TXBUS_MGPIO2A_H2F_B ;
wire CLK_CONFIG_APB ;
wire COMMS_INT ;
wire CONFIG_PRESET_N ;
wire F_FM0_READYOUT ;
wire F_FM0_RESP ;
wire F_HM0_ENABLE ;
wire F_HM0_SEL ;
wire F_HM0_TRANS1 ;
wire F_HM0_WRITE ;
wire FAB_CHRGVBUS ;
wire FAB_DISCHRGVBUS ;
wire FAB_DMPULLDOWN ;
wire FAB_DPPULLDOWN ;
wire FAB_DRVVBUS ;
wire FAB_IDPULLUP ;
wire FAB_SUSPENDM ;
wire FAB_TERMSEL ;
wire FAB_TXVALID ;
wire FAB_VCONTROLLOADM ;
wire FACC_GLMUX_SEL ;
wire FPGA_RESET_N ;
wire GTX_CLK ;
wire H2F_NMI ;
wire H2FCALIB ;
wire I2C0_SCL_MGPIO31B_H2F_A ;
wire I2C0_SCL_MGPIO31B_H2F_B ;
wire I2C0_SDA_MGPIO30B_H2F_A ;
wire I2C0_SDA_MGPIO30B_H2F_B ;
wire I2C1_SCL_MGPIO1A_H2F_A ;
wire I2C1_SCL_MGPIO1A_H2F_B ;
wire I2C1_SDA_MGPIO0A_H2F_A ;
wire I2C1_SDA_MGPIO0A_H2F_B ;
wire MDCF ;
wire MDOENF ;
wire MDOF ;
wire MMUART0_CTS_MGPIO19B_H2F_A ;
wire MMUART0_CTS_MGPIO19B_H2F_B ;
wire MMUART0_DCD_MGPIO22B_H2F_A ;
wire MMUART0_DCD_MGPIO22B_H2F_B ;
wire MMUART0_DSR_MGPIO20B_H2F_A ;
wire MMUART0_DSR_MGPIO20B_H2F_B ;
wire MMUART0_DTR_MGPIO18B_H2F_A ;
wire MMUART0_DTR_MGPIO18B_H2F_B ;
wire MMUART0_RI_MGPIO21B_H2F_A ;
wire MMUART0_RI_MGPIO21B_H2F_B ;
wire MMUART0_RTS_MGPIO17B_H2F_A ;
wire MMUART0_RTS_MGPIO17B_H2F_B ;
wire MMUART0_RXD_MGPIO28B_H2F_A ;
wire MMUART0_RXD_MGPIO28B_H2F_B ;
wire MMUART0_SCK_MGPIO29B_H2F_A ;
wire MMUART0_SCK_MGPIO29B_H2F_B ;
wire MMUART0_TXD_MGPIO27B_H2F_A ;
wire MMUART0_TXD_MGPIO27B_H2F_B ;
wire MMUART1_DTR_MGPIO12B_H2F_A ;
wire MMUART1_RTS_MGPIO11B_H2F_A ;
wire MMUART1_RTS_MGPIO11B_H2F_B ;
wire MMUART1_RXD_MGPIO26B_H2F_A ;
wire MMUART1_RXD_MGPIO26B_H2F_B ;
wire MMUART1_SCK_MGPIO25B_H2F_A ;
wire MMUART1_SCK_MGPIO25B_H2F_B ;
wire MMUART1_TXD_MGPIO24B_H2F_A ;
wire MMUART1_TXD_MGPIO24B_H2F_B ;
wire MPLL_LOCK ;
wire PER2_FABRIC_PENABLE ;
wire PER2_FABRIC_PSEL ;
wire PER2_FABRIC_PWRITE ;
wire RTC_MATCH ;
wire SLEEPDEEP ;
wire SLEEPHOLDACK ;
wire SLEEPING ;
wire SMBALERT_NO0 ;
wire SMBALERT_NO1 ;
wire SMBSUS_NO0 ;
wire SMBSUS_NO1 ;
wire SPI0_CLK_OUT ;
wire SPI0_SDI_MGPIO5A_H2F_A ;
wire SPI0_SDI_MGPIO5A_H2F_B ;
wire SPI0_SDO_MGPIO6A_H2F_A ;
wire SPI0_SDO_MGPIO6A_H2F_B ;
wire SPI0_SS0_MGPIO7A_H2F_A ;
wire SPI0_SS0_MGPIO7A_H2F_B ;
wire SPI0_SS1_MGPIO8A_H2F_A ;
wire SPI0_SS1_MGPIO8A_H2F_B ;
wire SPI0_SS2_MGPIO9A_H2F_A ;
wire SPI0_SS2_MGPIO9A_H2F_B ;
wire SPI0_SS3_MGPIO10A_H2F_A ;
wire SPI0_SS3_MGPIO10A_H2F_B ;
wire SPI0_SS4_MGPIO19A_H2F_A ;
wire SPI0_SS5_MGPIO20A_H2F_A ;
wire SPI0_SS6_MGPIO21A_H2F_A ;
wire SPI0_SS7_MGPIO22A_H2F_A ;
wire SPI1_CLK_OUT ;
wire SPI1_SDI_MGPIO11A_H2F_A ;
wire SPI1_SDI_MGPIO11A_H2F_B ;
wire SPI1_SDO_MGPIO12A_H2F_A ;
wire SPI1_SDO_MGPIO12A_H2F_B ;
wire SPI1_SS0_MGPIO13A_H2F_A ;
wire SPI1_SS0_MGPIO13A_H2F_B ;
wire SPI1_SS1_MGPIO14A_H2F_A ;
wire SPI1_SS1_MGPIO14A_H2F_B ;
wire SPI1_SS2_MGPIO15A_H2F_A ;
wire SPI1_SS2_MGPIO15A_H2F_B ;
wire SPI1_SS3_MGPIO16A_H2F_A ;
wire SPI1_SS3_MGPIO16A_H2F_B ;
wire SPI1_SS4_MGPIO17A_H2F_A ;
wire SPI1_SS5_MGPIO18A_H2F_A ;
wire SPI1_SS6_MGPIO23A_H2F_A ;
wire SPI1_SS7_MGPIO24A_H2F_A ;
wire TRACECLK ;
wire TX_CLK ;
wire TXCTL_EN_RIF ;
wire TXEV ;
wire WDOGTIMEOUT ;
wire F_ARREADY_HREADYOUT1 ;
wire F_AWREADY_HREADYOUT0 ;
wire F_BVALID ;
wire F_RLAST ;
wire F_RVALID ;
wire F_WREADY ;
wire MDDR_FABRIC_PREADY ;
wire MDDR_FABRIC_PSLVERR ;
wire VCC ;
wire GND ;
wire MDDR_DQS_0_PAD_Y ;
wire MDDR_DQS_1_PAD_Y ;
wire CAN_RXBUS_USBA_DATA1_MGPIO3A_OUT ;
wire CAN_TX_EBL_USBA_DATA2_MGPIO4A_OUT ;
wire CAN_TXBUS_USBA_DATA0_MGPIO2A_OUT ;
wire MSS_ADLIB_INST_DRAM_CLK ;
wire MMUART0_CTS_USBC_DATA7_MGPIO19B_OUT ;
wire MMUART0_DCD_MGPIO22B_OUT ;
wire MMUART0_DSR_MGPIO20B_OUT ;
wire MMUART0_DTR_USBC_DATA6_MGPIO18B_OUT ;
wire MMUART0_RI_MGPIO21B_OUT ;
wire MMUART0_RTS_USBC_DATA5_MGPIO17B_OUT ;
wire MMUART0_RXD_USBC_STP_MGPIO28B_OUT ;
wire MMUART0_SCK_USBC_NXT_MGPIO29B_OUT ;
wire MMUART1_RXD_USBC_DATA3_MGPIO26B_OUT ;
wire MMUART1_SCK_USBC_DATA4_MGPIO25B_OUT ;
wire RGMII_GTX_CLK_RMII_CLK_USBB_XCLK_OUT ;
wire RGMII_MDC_RMII_MDC_OUT ;
wire RGMII_RX_CLK_OUT ;
wire RGMII_TX_CLK_OUT ;
wire RGMII_TX_CTL_RMII_TX_EN_USBB_NXT_OUT ;
wire RGMII_TXD0_RMII_TXD0_USBB_DIR_OUT ;
wire SPI0_SDI_USBA_DIR_MGPIO5A_OUT ;
wire SPI0_SS1_USBA_DATA5_MGPIO8A_OUT ;
wire SPI0_SS2_USBA_DATA6_MGPIO9A_OUT ;
wire SPI0_SS3_USBA_DATA7_MGPIO10A_OUT ;
wire SPI1_SDI_MGPIO11A_OUT ;
wire SPI1_SS1_MGPIO14A_OUT ;
wire SPI1_SS2_MGPIO15A_OUT ;
wire SPI1_SS3_MGPIO16A_OUT ;
wire SPI1_SS4_MGPIO17A_OUT ;
wire SPI1_SS5_MGPIO18A_OUT ;
wire SPI1_SS6_MGPIO23A_OUT ;
wire SPI1_SS7_MGPIO24A_OUT ;
wire USBC_XCLK_OUT ;
wire CAN_RXBUS_USBA_DATA1_MGPIO3A_OE ;
wire CAN_TX_EBL_USBA_DATA2_MGPIO4A_OE ;
wire CAN_TXBUS_USBA_DATA0_MGPIO2A_OE ;
wire MMUART0_CTS_USBC_DATA7_MGPIO19B_OE ;
wire MMUART0_DCD_MGPIO22B_OE ;
wire MMUART0_DSR_MGPIO20B_OE ;
wire MMUART0_DTR_USBC_DATA6_MGPIO18B_OE ;
wire MMUART0_RI_MGPIO21B_OE ;
wire MMUART0_RTS_USBC_DATA5_MGPIO17B_OE ;
wire MMUART0_RXD_USBC_STP_MGPIO28B_OE ;
wire MMUART0_SCK_USBC_NXT_MGPIO29B_OE ;
wire MMUART1_RXD_USBC_DATA3_MGPIO26B_OE ;
wire MMUART1_SCK_USBC_DATA4_MGPIO25B_OE ;
wire RGMII_GTX_CLK_RMII_CLK_USBB_XCLK_OE ;
wire RGMII_MDC_RMII_MDC_OE ;
wire RGMII_RX_CLK_OE ;
wire RGMII_TX_CLK_OE ;
wire RGMII_TX_CTL_RMII_TX_EN_USBB_NXT_OE ;
wire RGMII_TXD0_RMII_TXD0_USBB_DIR_OE ;
wire SPI0_SDI_USBA_DIR_MGPIO5A_OE ;
wire SPI0_SS1_USBA_DATA5_MGPIO8A_OE ;
wire SPI0_SS2_USBA_DATA6_MGPIO9A_OE ;
wire SPI0_SS3_USBA_DATA7_MGPIO10A_OE ;
wire SPI1_SDI_MGPIO11A_OE ;
wire SPI1_SS1_MGPIO14A_OE ;
wire SPI1_SS2_MGPIO15A_OE ;
wire SPI1_SS3_MGPIO16A_OE ;
wire SPI1_SS4_MGPIO17A_OE ;
wire SPI1_SS5_MGPIO18A_OE ;
wire SPI1_SS6_MGPIO23A_OE ;
wire SPI1_SS7_MGPIO24A_OE ;
wire USBC_XCLK_OE ;
// @6:1986
(* IOSTD="" *)  INBUF USB_ULPI_XCLK_PAD (
	.Y(USB_ULPI_XCLK_PAD_Y),
	.PAD(USB_ULPI_XCLK)
);
defparam USB_ULPI_XCLK_PAD.IOSTD="";
// @6:1977
  TRIBUFF USB_ULPI_STP_PAD (
	.PAD(USB_ULPI_STP),
	.D(MSS_ADLIB_INST_RGMII_TXD1_RMII_TXD1_USBB_STP_OUT),
	.E(MSS_ADLIB_INST_RGMII_TXD1_RMII_TXD1_USBB_STP_OE)
);
// @6:1969
(* IOSTD="" *)  INBUF USB_ULPI_NXT_PAD (
	.Y(USB_ULPI_NXT_PAD_Y),
	.PAD(USB_ULPI_NXT)
);
defparam USB_ULPI_NXT_PAD.IOSTD="";
// @6:1961
(* IOSTD="" *)  INBUF USB_ULPI_DIR_PAD (
	.Y(USB_ULPI_DIR_PAD_Y),
	.PAD(USB_ULPI_DIR)
);
defparam USB_ULPI_DIR_PAD.IOSTD="";
// @6:1950
  BIBUF USB_ULPI_DATA_7_PAD (
	.Y(USB_ULPI_DATA_7_PAD_Y),
	.PAD(USB_ULPI_DATA[7]),
	.D(MSS_ADLIB_INST_RGMII_MDIO_RMII_MDIO_USBB_DATA7_OUT),
	.E(MSS_ADLIB_INST_RGMII_MDIO_RMII_MDIO_USBB_DATA7_OE)
);
// @6:1939
  BIBUF USB_ULPI_DATA_6_PAD (
	.Y(USB_ULPI_DATA_6_PAD_Y),
	.PAD(USB_ULPI_DATA[6]),
	.D(MSS_ADLIB_INST_RGMII_TXD3_USBB_DATA6_OUT),
	.E(MSS_ADLIB_INST_RGMII_TXD3_USBB_DATA6_OE)
);
// @6:1928
  BIBUF USB_ULPI_DATA_5_PAD (
	.Y(USB_ULPI_DATA_5_PAD_Y),
	.PAD(USB_ULPI_DATA[5]),
	.D(MSS_ADLIB_INST_RGMII_TXD2_USBB_DATA5_OUT),
	.E(MSS_ADLIB_INST_RGMII_TXD2_USBB_DATA5_OE)
);
// @6:1917
  BIBUF USB_ULPI_DATA_4_PAD (
	.Y(USB_ULPI_DATA_4_PAD_Y),
	.PAD(USB_ULPI_DATA[4]),
	.D(MSS_ADLIB_INST_RGMII_RXD3_USBB_DATA4_OUT),
	.E(MSS_ADLIB_INST_RGMII_RXD3_USBB_DATA4_OE)
);
// @6:1906
  BIBUF USB_ULPI_DATA_3_PAD (
	.Y(USB_ULPI_DATA_3_PAD_Y),
	.PAD(USB_ULPI_DATA[3]),
	.D(MSS_ADLIB_INST_RGMII_RXD2_RMII_RX_ER_USBB_DATA3_OUT),
	.E(MSS_ADLIB_INST_RGMII_RXD2_RMII_RX_ER_USBB_DATA3_OE)
);
// @6:1895
  BIBUF USB_ULPI_DATA_2_PAD (
	.Y(USB_ULPI_DATA_2_PAD_Y),
	.PAD(USB_ULPI_DATA[2]),
	.D(MSS_ADLIB_INST_RGMII_RX_CTL_RMII_CRS_DV_USBB_DATA2_OUT),
	.E(MSS_ADLIB_INST_RGMII_RX_CTL_RMII_CRS_DV_USBB_DATA2_OE)
);
// @6:1884
  BIBUF USB_ULPI_DATA_1_PAD (
	.Y(USB_ULPI_DATA_1_PAD_Y),
	.PAD(USB_ULPI_DATA[1]),
	.D(MSS_ADLIB_INST_RGMII_RXD1_RMII_RXD1_USBB_DATA1_OUT),
	.E(MSS_ADLIB_INST_RGMII_RXD1_RMII_RXD1_USBB_DATA1_OE)
);
// @6:1873
  BIBUF USB_ULPI_DATA_0_PAD (
	.Y(USB_ULPI_DATA_0_PAD_Y),
	.PAD(USB_ULPI_DATA[0]),
	.D(MSS_ADLIB_INST_RGMII_RXD0_RMII_RXD0_USBB_DATA0_OUT),
	.E(MSS_ADLIB_INST_RGMII_RXD0_RMII_RXD0_USBB_DATA0_OE)
);
// @6:1862
  BIBUF SPI_1_SS0_PAD (
	.Y(SPI_1_SS0_PAD_Y),
	.PAD(SPI_1_SS0),
	.D(MSS_ADLIB_INST_SPI1_SS0_MGPIO13A_OUT),
	.E(MSS_ADLIB_INST_SPI1_SS0_MGPIO13A_OE)
);
// @6:1853
  TRIBUFF SPI_1_DO_PAD (
	.PAD(SPI_1_DO),
	.D(MSS_ADLIB_INST_SPI1_SDO_MGPIO12A_OUT),
	.E(MSS_ADLIB_INST_SPI1_SDO_MGPIO12A_OE)
);
// @6:1845
(* IOSTD="" *)  INBUF SPI_1_DI_PAD (
	.Y(SPI_1_DI_PAD_Y),
	.PAD(SPI_1_DI)
);
defparam SPI_1_DI_PAD.IOSTD="";
// @6:1834
  BIBUF SPI_1_CLK_PAD (
	.Y(SPI_1_CLK_PAD_Y),
	.PAD(SPI_1_CLK),
	.D(MSS_ADLIB_INST_SPI1_SCK_OUT),
	.E(MSS_ADLIB_INST_SPI1_SCK_OE)
);
// @6:1823
  BIBUF SPI_0_SS0_PAD (
	.Y(SPI_0_SS0_PAD_Y),
	.PAD(SPI_0_SS0),
	.D(MSS_ADLIB_INST_SPI0_SS0_USBA_NXT_MGPIO7A_OUT),
	.E(MSS_ADLIB_INST_SPI0_SS0_USBA_NXT_MGPIO7A_OE)
);
// @6:1814
  TRIBUFF SPI_0_DO_PAD (
	.PAD(SPI_0_DO),
	.D(MSS_ADLIB_INST_SPI0_SDO_USBA_STP_MGPIO6A_OUT),
	.E(MSS_ADLIB_INST_SPI0_SDO_USBA_STP_MGPIO6A_OE)
);
// @6:1806
(* IOSTD="" *)  INBUF SPI_0_DI_PAD (
	.Y(SPI_0_DI_PAD_Y),
	.PAD(SPI_0_DI)
);
defparam SPI_0_DI_PAD.IOSTD="";
// @6:1795
  BIBUF SPI_0_CLK_PAD (
	.Y(SPI_0_CLK_PAD_Y),
	.PAD(SPI_0_CLK),
	.D(MSS_ADLIB_INST_SPI0_SCK_USBA_XCLK_OUT),
	.E(MSS_ADLIB_INST_SPI0_SCK_USBA_XCLK_OE)
);
// @6:1284
  TRIBUFF MMUART_1_TXD_PAD (
	.PAD(MMUART_1_TXD),
	.D(MSS_ADLIB_INST_MMUART1_TXD_USBC_DATA2_MGPIO24B_OUT),
	.E(MSS_ADLIB_INST_MMUART1_TXD_USBC_DATA2_MGPIO24B_OE)
);
// @6:1276
(* IOSTD="" *)  INBUF MMUART_1_RXD_PAD (
	.Y(MMUART_1_RXD_PAD_Y),
	.PAD(MMUART_1_RXD)
);
defparam MMUART_1_RXD_PAD.IOSTD="";
// @6:1267
  TRIBUFF MMUART_0_TXD_PAD (
	.PAD(MMUART_0_TXD),
	.D(MSS_ADLIB_INST_MMUART0_TXD_USBC_DIR_MGPIO27B_OUT),
	.E(MSS_ADLIB_INST_MMUART0_TXD_USBC_DIR_MGPIO27B_OE)
);
// @6:1259
(* IOSTD="" *)  INBUF MMUART_0_RXD_PAD (
	.Y(MMUART_0_RXD_PAD_Y),
	.PAD(MMUART_0_RXD)
);
defparam MMUART_0_RXD_PAD.IOSTD="";
// @6:1251
(* IOSTD="SSTL18I" *)  OUTBUF MDDR_WE_N_PAD (
	.PAD(MDDR_WE_N),
	.D(MSS_ADLIB_INST_DRAM_WEN)
);
defparam MDDR_WE_N_PAD.IOSTD="SSTL18I";
// @6:1241
(* IOSTD="SSTL18I" *)  OUTBUF MDDR_RESET_N_PAD (
	.PAD(MDDR_RESET_N),
	.D(MSS_ADLIB_INST_DRAM_RSTN)
);
defparam MDDR_RESET_N_PAD.IOSTD="SSTL18I";
// @6:1231
(* IOSTD="SSTL18I" *)  OUTBUF MDDR_RAS_N_PAD (
	.PAD(MDDR_RAS_N),
	.D(MSS_ADLIB_INST_DRAM_RASN)
);
defparam MDDR_RAS_N_PAD.IOSTD="SSTL18I";
// @6:1221
(* IOSTD="SSTL18I" *)  OUTBUF MDDR_ODT_PAD (
	.PAD(MDDR_ODT),
	.D(MSS_ADLIB_INST_DRAM_ODT)
);
defparam MDDR_ODT_PAD.IOSTD="SSTL18I";
// @6:1211
(* IOSTD="SSTL18I" *)  OUTBUF MDDR_DQS_TMATCH_0_OUT_PAD (
	.PAD(MDDR_DQS_TMATCH_0_OUT),
	.D(DRAM_FIFO_WE_OUT_net_0[0])
);
defparam MDDR_DQS_TMATCH_0_OUT_PAD.IOSTD="SSTL18I";
// @6:1201
(* IOSTD="SSTL18I" *)  INBUF MDDR_DQS_TMATCH_0_IN_PAD (
	.Y(MDDR_DQS_TMATCH_0_IN_PAD_Y),
	.PAD(MDDR_DQS_TMATCH_0_IN)
);
defparam MDDR_DQS_TMATCH_0_IN_PAD.IOSTD="SSTL18I";
// @6:1160
(* IOSTD="SSTL18I" *)  BIBUF MDDR_DQ_15_PAD (
	.Y(MDDR_DQ_15_PAD_Y),
	.PAD(MDDR_DQ[15]),
	.D(DRAM_DQ_OUT_net_0[15]),
	.E(DRAM_DQ_OE_net_0[15])
);
defparam MDDR_DQ_15_PAD.IOSTD="SSTL18I";
// @6:1147
(* IOSTD="SSTL18I" *)  BIBUF MDDR_DQ_14_PAD (
	.Y(MDDR_DQ_14_PAD_Y),
	.PAD(MDDR_DQ[14]),
	.D(DRAM_DQ_OUT_net_0[14]),
	.E(DRAM_DQ_OE_net_0[14])
);
defparam MDDR_DQ_14_PAD.IOSTD="SSTL18I";
// @6:1134
(* IOSTD="SSTL18I" *)  BIBUF MDDR_DQ_13_PAD (
	.Y(MDDR_DQ_13_PAD_Y),
	.PAD(MDDR_DQ[13]),
	.D(DRAM_DQ_OUT_net_0[13]),
	.E(DRAM_DQ_OE_net_0[13])
);
defparam MDDR_DQ_13_PAD.IOSTD="SSTL18I";
// @6:1121
(* IOSTD="SSTL18I" *)  BIBUF MDDR_DQ_12_PAD (
	.Y(MDDR_DQ_12_PAD_Y),
	.PAD(MDDR_DQ[12]),
	.D(DRAM_DQ_OUT_net_0[12]),
	.E(DRAM_DQ_OE_net_0[12])
);
defparam MDDR_DQ_12_PAD.IOSTD="SSTL18I";
// @6:1108
(* IOSTD="SSTL18I" *)  BIBUF MDDR_DQ_11_PAD (
	.Y(MDDR_DQ_11_PAD_Y),
	.PAD(MDDR_DQ[11]),
	.D(DRAM_DQ_OUT_net_0[11]),
	.E(DRAM_DQ_OE_net_0[11])
);
defparam MDDR_DQ_11_PAD.IOSTD="SSTL18I";
// @6:1095
(* IOSTD="SSTL18I" *)  BIBUF MDDR_DQ_10_PAD (
	.Y(MDDR_DQ_10_PAD_Y),
	.PAD(MDDR_DQ[10]),
	.D(DRAM_DQ_OUT_net_0[10]),
	.E(DRAM_DQ_OE_net_0[10])
);
defparam MDDR_DQ_10_PAD.IOSTD="SSTL18I";
// @6:1082
(* IOSTD="SSTL18I" *)  BIBUF MDDR_DQ_9_PAD (
	.Y(MDDR_DQ_9_PAD_Y),
	.PAD(MDDR_DQ[9]),
	.D(DRAM_DQ_OUT_net_0[9]),
	.E(DRAM_DQ_OE_net_0[9])
);
defparam MDDR_DQ_9_PAD.IOSTD="SSTL18I";
// @6:1069
(* IOSTD="SSTL18I" *)  BIBUF MDDR_DQ_8_PAD (
	.Y(MDDR_DQ_8_PAD_Y),
	.PAD(MDDR_DQ[8]),
	.D(DRAM_DQ_OUT_net_0[8]),
	.E(DRAM_DQ_OE_net_0[8])
);
defparam MDDR_DQ_8_PAD.IOSTD="SSTL18I";
// @6:1056
(* IOSTD="SSTL18I" *)  BIBUF MDDR_DQ_7_PAD (
	.Y(MDDR_DQ_7_PAD_Y),
	.PAD(MDDR_DQ[7]),
	.D(DRAM_DQ_OUT_net_0[7]),
	.E(DRAM_DQ_OE_net_0[7])
);
defparam MDDR_DQ_7_PAD.IOSTD="SSTL18I";
// @6:1043
(* IOSTD="SSTL18I" *)  BIBUF MDDR_DQ_6_PAD (
	.Y(MDDR_DQ_6_PAD_Y),
	.PAD(MDDR_DQ[6]),
	.D(DRAM_DQ_OUT_net_0[6]),
	.E(DRAM_DQ_OE_net_0[6])
);
defparam MDDR_DQ_6_PAD.IOSTD="SSTL18I";
// @6:1030
(* IOSTD="SSTL18I" *)  BIBUF MDDR_DQ_5_PAD (
	.Y(MDDR_DQ_5_PAD_Y),
	.PAD(MDDR_DQ[5]),
	.D(DRAM_DQ_OUT_net_0[5]),
	.E(DRAM_DQ_OE_net_0[5])
);
defparam MDDR_DQ_5_PAD.IOSTD="SSTL18I";
// @6:1017
(* IOSTD="SSTL18I" *)  BIBUF MDDR_DQ_4_PAD (
	.Y(MDDR_DQ_4_PAD_Y),
	.PAD(MDDR_DQ[4]),
	.D(DRAM_DQ_OUT_net_0[4]),
	.E(DRAM_DQ_OE_net_0[4])
);
defparam MDDR_DQ_4_PAD.IOSTD="SSTL18I";
// @6:1004
(* IOSTD="SSTL18I" *)  BIBUF MDDR_DQ_3_PAD (
	.Y(MDDR_DQ_3_PAD_Y),
	.PAD(MDDR_DQ[3]),
	.D(DRAM_DQ_OUT_net_0[3]),
	.E(DRAM_DQ_OE_net_0[3])
);
defparam MDDR_DQ_3_PAD.IOSTD="SSTL18I";
// @6:991
(* IOSTD="SSTL18I" *)  BIBUF MDDR_DQ_2_PAD (
	.Y(MDDR_DQ_2_PAD_Y),
	.PAD(MDDR_DQ[2]),
	.D(DRAM_DQ_OUT_net_0[2]),
	.E(DRAM_DQ_OE_net_0[2])
);
defparam MDDR_DQ_2_PAD.IOSTD="SSTL18I";
// @6:978
(* IOSTD="SSTL18I" *)  BIBUF MDDR_DQ_1_PAD (
	.Y(MDDR_DQ_1_PAD_Y),
	.PAD(MDDR_DQ[1]),
	.D(DRAM_DQ_OUT_net_0[1]),
	.E(DRAM_DQ_OE_net_0[1])
);
defparam MDDR_DQ_1_PAD.IOSTD="SSTL18I";
// @6:965
(* IOSTD="SSTL18I" *)  BIBUF MDDR_DQ_0_PAD (
	.Y(MDDR_DQ_0_PAD_Y),
	.PAD(MDDR_DQ[0]),
	.D(DRAM_DQ_OUT_net_0[0]),
	.E(DRAM_DQ_OE_net_0[0])
);
defparam MDDR_DQ_0_PAD.IOSTD="SSTL18I";
// @6:952
(* IOSTD="SSTL18I" *)  BIBUF MDDR_DM_RDQS_1_PAD (
	.Y(MDDR_DM_RDQS_1_PAD_Y),
	.PAD(MDDR_DM_RDQS[1]),
	.D(DRAM_DM_RDQS_OUT_net_0[1]),
	.E(DM_OE_net_0[1])
);
defparam MDDR_DM_RDQS_1_PAD.IOSTD="SSTL18I";
// @6:939
(* IOSTD="SSTL18I" *)  BIBUF MDDR_DM_RDQS_0_PAD (
	.Y(MDDR_DM_RDQS_0_PAD_Y),
	.PAD(MDDR_DM_RDQS[0]),
	.D(DRAM_DM_RDQS_OUT_net_0[0]),
	.E(DM_OE_net_0[0])
);
defparam MDDR_DM_RDQS_0_PAD.IOSTD="SSTL18I";
// @6:929
(* IOSTD="SSTL18I" *)  OUTBUF MDDR_CS_N_PAD (
	.PAD(MDDR_CS_N),
	.D(MSS_ADLIB_INST_DRAM_CSN)
);
defparam MDDR_CS_N_PAD.IOSTD="SSTL18I";
// @6:908
(* IOSTD="SSTL18I" *)  OUTBUF MDDR_CKE_PAD (
	.PAD(MDDR_CKE),
	.D(MSS_ADLIB_INST_DRAM_CKE)
);
defparam MDDR_CKE_PAD.IOSTD="SSTL18I";
// @6:898
(* IOSTD="SSTL18I" *)  OUTBUF MDDR_CAS_N_PAD (
	.PAD(MDDR_CAS_N),
	.D(MSS_ADLIB_INST_DRAM_CASN)
);
defparam MDDR_CAS_N_PAD.IOSTD="SSTL18I";
// @6:888
(* IOSTD="SSTL18I" *)  OUTBUF MDDR_BA_2_PAD (
	.PAD(MDDR_BA[2]),
	.D(DRAM_BA_net_0[2])
);
defparam MDDR_BA_2_PAD.IOSTD="SSTL18I";
// @6:878
(* IOSTD="SSTL18I" *)  OUTBUF MDDR_BA_1_PAD (
	.PAD(MDDR_BA[1]),
	.D(DRAM_BA_net_0[1])
);
defparam MDDR_BA_1_PAD.IOSTD="SSTL18I";
// @6:868
(* IOSTD="SSTL18I" *)  OUTBUF MDDR_BA_0_PAD (
	.PAD(MDDR_BA[0]),
	.D(DRAM_BA_net_0[0])
);
defparam MDDR_BA_0_PAD.IOSTD="SSTL18I";
// @6:858
(* IOSTD="SSTL18I" *)  OUTBUF MDDR_ADDR_15_PAD (
	.PAD(MDDR_ADDR[15]),
	.D(DRAM_ADDR_net_0[15])
);
defparam MDDR_ADDR_15_PAD.IOSTD="SSTL18I";
// @6:848
(* IOSTD="SSTL18I" *)  OUTBUF MDDR_ADDR_14_PAD (
	.PAD(MDDR_ADDR[14]),
	.D(DRAM_ADDR_net_0[14])
);
defparam MDDR_ADDR_14_PAD.IOSTD="SSTL18I";
// @6:838
(* IOSTD="SSTL18I" *)  OUTBUF MDDR_ADDR_13_PAD (
	.PAD(MDDR_ADDR[13]),
	.D(DRAM_ADDR_net_0[13])
);
defparam MDDR_ADDR_13_PAD.IOSTD="SSTL18I";
// @6:828
(* IOSTD="SSTL18I" *)  OUTBUF MDDR_ADDR_12_PAD (
	.PAD(MDDR_ADDR[12]),
	.D(DRAM_ADDR_net_0[12])
);
defparam MDDR_ADDR_12_PAD.IOSTD="SSTL18I";
// @6:818
(* IOSTD="SSTL18I" *)  OUTBUF MDDR_ADDR_11_PAD (
	.PAD(MDDR_ADDR[11]),
	.D(DRAM_ADDR_net_0[11])
);
defparam MDDR_ADDR_11_PAD.IOSTD="SSTL18I";
// @6:808
(* IOSTD="SSTL18I" *)  OUTBUF MDDR_ADDR_10_PAD (
	.PAD(MDDR_ADDR[10]),
	.D(DRAM_ADDR_net_0[10])
);
defparam MDDR_ADDR_10_PAD.IOSTD="SSTL18I";
// @6:798
(* IOSTD="SSTL18I" *)  OUTBUF MDDR_ADDR_9_PAD (
	.PAD(MDDR_ADDR[9]),
	.D(DRAM_ADDR_net_0[9])
);
defparam MDDR_ADDR_9_PAD.IOSTD="SSTL18I";
// @6:788
(* IOSTD="SSTL18I" *)  OUTBUF MDDR_ADDR_8_PAD (
	.PAD(MDDR_ADDR[8]),
	.D(DRAM_ADDR_net_0[8])
);
defparam MDDR_ADDR_8_PAD.IOSTD="SSTL18I";
// @6:778
(* IOSTD="SSTL18I" *)  OUTBUF MDDR_ADDR_7_PAD (
	.PAD(MDDR_ADDR[7]),
	.D(DRAM_ADDR_net_0[7])
);
defparam MDDR_ADDR_7_PAD.IOSTD="SSTL18I";
// @6:768
(* IOSTD="SSTL18I" *)  OUTBUF MDDR_ADDR_6_PAD (
	.PAD(MDDR_ADDR[6]),
	.D(DRAM_ADDR_net_0[6])
);
defparam MDDR_ADDR_6_PAD.IOSTD="SSTL18I";
// @6:758
(* IOSTD="SSTL18I" *)  OUTBUF MDDR_ADDR_5_PAD (
	.PAD(MDDR_ADDR[5]),
	.D(DRAM_ADDR_net_0[5])
);
defparam MDDR_ADDR_5_PAD.IOSTD="SSTL18I";
// @6:748
(* IOSTD="SSTL18I" *)  OUTBUF MDDR_ADDR_4_PAD (
	.PAD(MDDR_ADDR[4]),
	.D(DRAM_ADDR_net_0[4])
);
defparam MDDR_ADDR_4_PAD.IOSTD="SSTL18I";
// @6:738
(* IOSTD="SSTL18I" *)  OUTBUF MDDR_ADDR_3_PAD (
	.PAD(MDDR_ADDR[3]),
	.D(DRAM_ADDR_net_0[3])
);
defparam MDDR_ADDR_3_PAD.IOSTD="SSTL18I";
// @6:728
(* IOSTD="SSTL18I" *)  OUTBUF MDDR_ADDR_2_PAD (
	.PAD(MDDR_ADDR[2]),
	.D(DRAM_ADDR_net_0[2])
);
defparam MDDR_ADDR_2_PAD.IOSTD="SSTL18I";
// @6:718
(* IOSTD="SSTL18I" *)  OUTBUF MDDR_ADDR_1_PAD (
	.PAD(MDDR_ADDR[1]),
	.D(DRAM_ADDR_net_0[1])
);
defparam MDDR_ADDR_1_PAD.IOSTD="SSTL18I";
// @6:708
(* IOSTD="SSTL18I" *)  OUTBUF MDDR_ADDR_0_PAD (
	.PAD(MDDR_ADDR[0]),
	.D(DRAM_ADDR_net_0[0])
);
defparam MDDR_ADDR_0_PAD.IOSTD="SSTL18I";
// @6:695
  BIBUF I2C_1_SDA_PAD (
	.Y(I2C_1_SDA_PAD_Y),
	.PAD(I2C_1_SDA),
	.D(MSS_ADLIB_INST_I2C1_SDA_USBA_DATA3_MGPIO0A_OUT),
	.E(MSS_ADLIB_INST_I2C1_SDA_USBA_DATA3_MGPIO0A_OE)
);
// @6:684
  BIBUF I2C_1_SCL_PAD (
	.Y(I2C_1_SCL_PAD_Y),
	.PAD(I2C_1_SCL),
	.D(MSS_ADLIB_INST_I2C1_SCL_USBA_DATA4_MGPIO1A_OUT),
	.E(MSS_ADLIB_INST_I2C1_SCL_USBA_DATA4_MGPIO1A_OE)
);
// @6:673
  BIBUF I2C_0_SDA_PAD (
	.Y(I2C_0_SDA_PAD_Y),
	.PAD(I2C_0_SDA),
	.D(MSS_ADLIB_INST_I2C0_SDA_USBC_DATA0_MGPIO30B_OUT),
	.E(MSS_ADLIB_INST_I2C0_SDA_USBC_DATA0_MGPIO30B_OE)
);
// @6:662
  BIBUF I2C_0_SCL_PAD (
	.Y(I2C_0_SCL_PAD_Y),
	.PAD(I2C_0_SCL),
	.D(MSS_ADLIB_INST_I2C0_SCL_USBC_DATA1_MGPIO31B_OUT),
	.E(MSS_ADLIB_INST_I2C0_SCL_USBC_DATA1_MGPIO31B_OE)
);
// @6:1300
  MSS_010 MSS_ADLIB_INST (
	.CAN_RXBUS_MGPIO3A_H2F_A(CAN_RXBUS_MGPIO3A_H2F_A),
	.CAN_RXBUS_MGPIO3A_H2F_B(CAN_RXBUS_MGPIO3A_H2F_B),
	.CAN_TX_EBL_MGPIO4A_H2F_A(CAN_TX_EBL_MGPIO4A_H2F_A),
	.CAN_TX_EBL_MGPIO4A_H2F_B(CAN_TX_EBL_MGPIO4A_H2F_B),
	.CAN_TXBUS_MGPIO2A_H2F_A(CAN_TXBUS_MGPIO2A_H2F_A),
	.CAN_TXBUS_MGPIO2A_H2F_B(CAN_TXBUS_MGPIO2A_H2F_B),
	.CLK_CONFIG_APB(CLK_CONFIG_APB),
	.COMMS_INT(COMMS_INT),
	.CONFIG_PRESET_N(CONFIG_PRESET_N),
	.EDAC_ERROR(EDAC_ERROR[7:0]),
	.F_FM0_RDATA(F_FM0_RDATA[31:0]),
	.F_FM0_READYOUT(F_FM0_READYOUT),
	.F_FM0_RESP(F_FM0_RESP),
	.F_HM0_ADDR(F_HM0_ADDR[31:0]),
	.F_HM0_ENABLE(F_HM0_ENABLE),
	.F_HM0_SEL(F_HM0_SEL),
	.F_HM0_SIZE(F_HM0_SIZE[1:0]),
	.F_HM0_TRANS1(F_HM0_TRANS1),
	.F_HM0_WDATA(F_HM0_WDATA[31:0]),
	.F_HM0_WRITE(F_HM0_WRITE),
	.FAB_CHRGVBUS(FAB_CHRGVBUS),
	.FAB_DISCHRGVBUS(FAB_DISCHRGVBUS),
	.FAB_DMPULLDOWN(FAB_DMPULLDOWN),
	.FAB_DPPULLDOWN(FAB_DPPULLDOWN),
	.FAB_DRVVBUS(FAB_DRVVBUS),
	.FAB_IDPULLUP(FAB_IDPULLUP),
	.FAB_OPMODE(FAB_OPMODE[1:0]),
	.FAB_SUSPENDM(FAB_SUSPENDM),
	.FAB_TERMSEL(FAB_TERMSEL),
	.FAB_TXVALID(FAB_TXVALID),
	.FAB_VCONTROL(FAB_VCONTROL[3:0]),
	.FAB_VCONTROLLOADM(FAB_VCONTROLLOADM),
	.FAB_XCVRSEL(FAB_XCVRSEL[1:0]),
	.FAB_XDATAOUT(FAB_XDATAOUT[7:0]),
	.FACC_GLMUX_SEL(FACC_GLMUX_SEL),
	.FIC32_0_MASTER(FIC32_0_MASTER[1:0]),
	.FIC32_1_MASTER(FIC32_1_MASTER[1:0]),
	.FPGA_RESET_N(FPGA_RESET_N),
	.GTX_CLK(GTX_CLK),
	.H2F_INTERRUPT(H2F_INTERRUPT[15:0]),
	.H2F_NMI(H2F_NMI),
	.H2FCALIB(H2FCALIB),
	.I2C0_SCL_MGPIO31B_H2F_A(I2C0_SCL_MGPIO31B_H2F_A),
	.I2C0_SCL_MGPIO31B_H2F_B(I2C0_SCL_MGPIO31B_H2F_B),
	.I2C0_SDA_MGPIO30B_H2F_A(I2C0_SDA_MGPIO30B_H2F_A),
	.I2C0_SDA_MGPIO30B_H2F_B(I2C0_SDA_MGPIO30B_H2F_B),
	.I2C1_SCL_MGPIO1A_H2F_A(I2C1_SCL_MGPIO1A_H2F_A),
	.I2C1_SCL_MGPIO1A_H2F_B(I2C1_SCL_MGPIO1A_H2F_B),
	.I2C1_SDA_MGPIO0A_H2F_A(I2C1_SDA_MGPIO0A_H2F_A),
	.I2C1_SDA_MGPIO0A_H2F_B(I2C1_SDA_MGPIO0A_H2F_B),
	.MDCF(MDCF),
	.MDOENF(MDOENF),
	.MDOF(MDOF),
	.MMUART0_CTS_MGPIO19B_H2F_A(MMUART0_CTS_MGPIO19B_H2F_A),
	.MMUART0_CTS_MGPIO19B_H2F_B(MMUART0_CTS_MGPIO19B_H2F_B),
	.MMUART0_DCD_MGPIO22B_H2F_A(MMUART0_DCD_MGPIO22B_H2F_A),
	.MMUART0_DCD_MGPIO22B_H2F_B(MMUART0_DCD_MGPIO22B_H2F_B),
	.MMUART0_DSR_MGPIO20B_H2F_A(MMUART0_DSR_MGPIO20B_H2F_A),
	.MMUART0_DSR_MGPIO20B_H2F_B(MMUART0_DSR_MGPIO20B_H2F_B),
	.MMUART0_DTR_MGPIO18B_H2F_A(MMUART0_DTR_MGPIO18B_H2F_A),
	.MMUART0_DTR_MGPIO18B_H2F_B(MMUART0_DTR_MGPIO18B_H2F_B),
	.MMUART0_RI_MGPIO21B_H2F_A(MMUART0_RI_MGPIO21B_H2F_A),
	.MMUART0_RI_MGPIO21B_H2F_B(MMUART0_RI_MGPIO21B_H2F_B),
	.MMUART0_RTS_MGPIO17B_H2F_A(MMUART0_RTS_MGPIO17B_H2F_A),
	.MMUART0_RTS_MGPIO17B_H2F_B(MMUART0_RTS_MGPIO17B_H2F_B),
	.MMUART0_RXD_MGPIO28B_H2F_A(MMUART0_RXD_MGPIO28B_H2F_A),
	.MMUART0_RXD_MGPIO28B_H2F_B(MMUART0_RXD_MGPIO28B_H2F_B),
	.MMUART0_SCK_MGPIO29B_H2F_A(MMUART0_SCK_MGPIO29B_H2F_A),
	.MMUART0_SCK_MGPIO29B_H2F_B(MMUART0_SCK_MGPIO29B_H2F_B),
	.MMUART0_TXD_MGPIO27B_H2F_A(MMUART0_TXD_MGPIO27B_H2F_A),
	.MMUART0_TXD_MGPIO27B_H2F_B(MMUART0_TXD_MGPIO27B_H2F_B),
	.MMUART1_DTR_MGPIO12B_H2F_A(MMUART1_DTR_MGPIO12B_H2F_A),
	.MMUART1_RTS_MGPIO11B_H2F_A(MMUART1_RTS_MGPIO11B_H2F_A),
	.MMUART1_RTS_MGPIO11B_H2F_B(MMUART1_RTS_MGPIO11B_H2F_B),
	.MMUART1_RXD_MGPIO26B_H2F_A(MMUART1_RXD_MGPIO26B_H2F_A),
	.MMUART1_RXD_MGPIO26B_H2F_B(MMUART1_RXD_MGPIO26B_H2F_B),
	.MMUART1_SCK_MGPIO25B_H2F_A(MMUART1_SCK_MGPIO25B_H2F_A),
	.MMUART1_SCK_MGPIO25B_H2F_B(MMUART1_SCK_MGPIO25B_H2F_B),
	.MMUART1_TXD_MGPIO24B_H2F_A(MMUART1_TXD_MGPIO24B_H2F_A),
	.MMUART1_TXD_MGPIO24B_H2F_B(MMUART1_TXD_MGPIO24B_H2F_B),
	.MPLL_LOCK(MPLL_LOCK),
	.PER2_FABRIC_PADDR(PER2_FABRIC_PADDR[15:2]),
	.PER2_FABRIC_PENABLE(PER2_FABRIC_PENABLE),
	.PER2_FABRIC_PSEL(PER2_FABRIC_PSEL),
	.PER2_FABRIC_PWDATA(PER2_FABRIC_PWDATA[31:0]),
	.PER2_FABRIC_PWRITE(PER2_FABRIC_PWRITE),
	.RTC_MATCH(RTC_MATCH),
	.SLEEPDEEP(SLEEPDEEP),
	.SLEEPHOLDACK(SLEEPHOLDACK),
	.SLEEPING(SLEEPING),
	.SMBALERT_NO0(SMBALERT_NO0),
	.SMBALERT_NO1(SMBALERT_NO1),
	.SMBSUS_NO0(SMBSUS_NO0),
	.SMBSUS_NO1(SMBSUS_NO1),
	.SPI0_CLK_OUT(SPI0_CLK_OUT),
	.SPI0_SDI_MGPIO5A_H2F_A(SPI0_SDI_MGPIO5A_H2F_A),
	.SPI0_SDI_MGPIO5A_H2F_B(SPI0_SDI_MGPIO5A_H2F_B),
	.SPI0_SDO_MGPIO6A_H2F_A(SPI0_SDO_MGPIO6A_H2F_A),
	.SPI0_SDO_MGPIO6A_H2F_B(SPI0_SDO_MGPIO6A_H2F_B),
	.SPI0_SS0_MGPIO7A_H2F_A(SPI0_SS0_MGPIO7A_H2F_A),
	.SPI0_SS0_MGPIO7A_H2F_B(SPI0_SS0_MGPIO7A_H2F_B),
	.SPI0_SS1_MGPIO8A_H2F_A(SPI0_SS1_MGPIO8A_H2F_A),
	.SPI0_SS1_MGPIO8A_H2F_B(SPI0_SS1_MGPIO8A_H2F_B),
	.SPI0_SS2_MGPIO9A_H2F_A(SPI0_SS2_MGPIO9A_H2F_A),
	.SPI0_SS2_MGPIO9A_H2F_B(SPI0_SS2_MGPIO9A_H2F_B),
	.SPI0_SS3_MGPIO10A_H2F_A(SPI0_SS3_MGPIO10A_H2F_A),
	.SPI0_SS3_MGPIO10A_H2F_B(SPI0_SS3_MGPIO10A_H2F_B),
	.SPI0_SS4_MGPIO19A_H2F_A(SPI0_SS4_MGPIO19A_H2F_A),
	.SPI0_SS5_MGPIO20A_H2F_A(SPI0_SS5_MGPIO20A_H2F_A),
	.SPI0_SS6_MGPIO21A_H2F_A(SPI0_SS6_MGPIO21A_H2F_A),
	.SPI0_SS7_MGPIO22A_H2F_A(SPI0_SS7_MGPIO22A_H2F_A),
	.SPI1_CLK_OUT(SPI1_CLK_OUT),
	.SPI1_SDI_MGPIO11A_H2F_A(SPI1_SDI_MGPIO11A_H2F_A),
	.SPI1_SDI_MGPIO11A_H2F_B(SPI1_SDI_MGPIO11A_H2F_B),
	.SPI1_SDO_MGPIO12A_H2F_A(SPI1_SDO_MGPIO12A_H2F_A),
	.SPI1_SDO_MGPIO12A_H2F_B(SPI1_SDO_MGPIO12A_H2F_B),
	.SPI1_SS0_MGPIO13A_H2F_A(SPI1_SS0_MGPIO13A_H2F_A),
	.SPI1_SS0_MGPIO13A_H2F_B(SPI1_SS0_MGPIO13A_H2F_B),
	.SPI1_SS1_MGPIO14A_H2F_A(SPI1_SS1_MGPIO14A_H2F_A),
	.SPI1_SS1_MGPIO14A_H2F_B(SPI1_SS1_MGPIO14A_H2F_B),
	.SPI1_SS2_MGPIO15A_H2F_A(SPI1_SS2_MGPIO15A_H2F_A),
	.SPI1_SS2_MGPIO15A_H2F_B(SPI1_SS2_MGPIO15A_H2F_B),
	.SPI1_SS3_MGPIO16A_H2F_A(SPI1_SS3_MGPIO16A_H2F_A),
	.SPI1_SS3_MGPIO16A_H2F_B(SPI1_SS3_MGPIO16A_H2F_B),
	.SPI1_SS4_MGPIO17A_H2F_A(SPI1_SS4_MGPIO17A_H2F_A),
	.SPI1_SS5_MGPIO18A_H2F_A(SPI1_SS5_MGPIO18A_H2F_A),
	.SPI1_SS6_MGPIO23A_H2F_A(SPI1_SS6_MGPIO23A_H2F_A),
	.SPI1_SS7_MGPIO24A_H2F_A(SPI1_SS7_MGPIO24A_H2F_A),
	.TCGF(TCGF[9:0]),
	.TRACECLK(TRACECLK),
	.TRACEDATA(TRACEDATA[3:0]),
	.TX_CLK(TX_CLK),
	.TX_ENF(MAC_MII_TX_EN),
	.TX_ERRF(MAC_MII_TX_ER),
	.TXCTL_EN_RIF(TXCTL_EN_RIF),
	.TXD_RIF(TXD_RIF[3:0]),
	.TXDF({TXDF_net_0[7:4], MAC_MII_TXD[3:0]}),
	.TXEV(TXEV),
	.WDOGTIMEOUT(WDOGTIMEOUT),
	.F_ARREADY_HREADYOUT1(F_ARREADY_HREADYOUT1),
	.F_AWREADY_HREADYOUT0(F_AWREADY_HREADYOUT0),
	.F_BID(F_BID[3:0]),
	.F_BRESP_HRESP0(F_BRESP_HRESP0[1:0]),
	.F_BVALID(F_BVALID),
	.F_RDATA_HRDATA01(F_RDATA_HRDATA01[63:0]),
	.F_RID(F_RID[3:0]),
	.F_RLAST(F_RLAST),
	.F_RRESP_HRESP1(F_RRESP_HRESP1[1:0]),
	.F_RVALID(F_RVALID),
	.F_WREADY(F_WREADY),
	.MDDR_FABRIC_PRDATA(MDDR_FABRIC_PRDATA[15:0]),
	.MDDR_FABRIC_PREADY(MDDR_FABRIC_PREADY),
	.MDDR_FABRIC_PSLVERR(MDDR_FABRIC_PSLVERR),
	.CAN_RXBUS_F2H_SCP(VCC),
	.CAN_TX_EBL_F2H_SCP(VCC),
	.CAN_TXBUS_F2H_SCP(VCC),
	.COLF(MAC_MII_COL),
	.CRSF(MAC_MII_CRS),
	.F2_DMAREADY({VCC, VCC}),
	.F2H_INTERRUPT({GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND}),
	.F2HCALIB(VCC),
	.F_DMAREADY({VCC, VCC}),
	.F_FM0_ADDR({GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND}),
	.F_FM0_ENABLE(GND),
	.F_FM0_MASTLOCK(GND),
	.F_FM0_READY(VCC),
	.F_FM0_SEL(GND),
	.F_FM0_SIZE({GND, GND}),
	.F_FM0_TRANS1(GND),
	.F_FM0_WDATA({GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND}),
	.F_FM0_WRITE(GND),
	.F_HM0_RDATA({GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND}),
	.F_HM0_READY(VCC),
	.F_HM0_RESP(GND),
	.FAB_AVALID(VCC),
	.FAB_HOSTDISCON(VCC),
	.FAB_IDDIG(VCC),
	.FAB_LINESTATE({VCC, VCC}),
	.FAB_M3_RESET_N(VCC),
	.FAB_PLL_LOCK(VCC),
	.FAB_RXACTIVE(VCC),
	.FAB_RXERROR(VCC),
	.FAB_RXVALID(VCC),
	.FAB_RXVALIDH(GND),
	.FAB_SESSEND(VCC),
	.FAB_TXREADY(VCC),
	.FAB_VBUSVALID(VCC),
	.FAB_VSTATUS({VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC}),
	.FAB_XDATAIN({VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC}),
	.GTX_CLKPF(VCC),
	.I2C0_BCLK(VCC),
	.I2C0_SCL_F2H_SCP(VCC),
	.I2C0_SDA_F2H_SCP(VCC),
	.I2C1_BCLK(VCC),
	.I2C1_SCL_F2H_SCP(VCC),
	.I2C1_SDA_F2H_SCP(VCC),
	.MDIF(VCC),
	.MGPIO0A_F2H_GPIN(VCC),
	.MGPIO10A_F2H_GPIN(VCC),
	.MGPIO11A_F2H_GPIN(VCC),
	.MGPIO11B_F2H_GPIN(VCC),
	.MGPIO12A_F2H_GPIN(VCC),
	.MGPIO13A_F2H_GPIN(VCC),
	.MGPIO14A_F2H_GPIN(VCC),
	.MGPIO15A_F2H_GPIN(VCC),
	.MGPIO16A_F2H_GPIN(VCC),
	.MGPIO17B_F2H_GPIN(VCC),
	.MGPIO18B_F2H_GPIN(VCC),
	.MGPIO19B_F2H_GPIN(VCC),
	.MGPIO1A_F2H_GPIN(VCC),
	.MGPIO20B_F2H_GPIN(VCC),
	.MGPIO21B_F2H_GPIN(VCC),
	.MGPIO22B_F2H_GPIN(VCC),
	.MGPIO24B_F2H_GPIN(VCC),
	.MGPIO25B_F2H_GPIN(VCC),
	.MGPIO26B_F2H_GPIN(VCC),
	.MGPIO27B_F2H_GPIN(VCC),
	.MGPIO28B_F2H_GPIN(VCC),
	.MGPIO29B_F2H_GPIN(VCC),
	.MGPIO2A_F2H_GPIN(VCC),
	.MGPIO30B_F2H_GPIN(VCC),
	.MGPIO31B_F2H_GPIN(VCC),
	.MGPIO3A_F2H_GPIN(VCC),
	.MGPIO4A_F2H_GPIN(VCC),
	.MGPIO5A_F2H_GPIN(VCC),
	.MGPIO6A_F2H_GPIN(VCC),
	.MGPIO7A_F2H_GPIN(VCC),
	.MGPIO8A_F2H_GPIN(VCC),
	.MGPIO9A_F2H_GPIN(VCC),
	.MMUART0_CTS_F2H_SCP(VCC),
	.MMUART0_DCD_F2H_SCP(VCC),
	.MMUART0_DSR_F2H_SCP(VCC),
	.MMUART0_DTR_F2H_SCP(VCC),
	.MMUART0_RI_F2H_SCP(VCC),
	.MMUART0_RTS_F2H_SCP(VCC),
	.MMUART0_RXD_F2H_SCP(VCC),
	.MMUART0_SCK_F2H_SCP(VCC),
	.MMUART0_TXD_F2H_SCP(VCC),
	.MMUART1_CTS_F2H_SCP(VCC),
	.MMUART1_DCD_F2H_SCP(VCC),
	.MMUART1_DSR_F2H_SCP(VCC),
	.MMUART1_RI_F2H_SCP(VCC),
	.MMUART1_RTS_F2H_SCP(VCC),
	.MMUART1_RXD_F2H_SCP(VCC),
	.MMUART1_SCK_F2H_SCP(VCC),
	.MMUART1_TXD_F2H_SCP(VCC),
	.PER2_FABRIC_PRDATA({VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC}),
	.PER2_FABRIC_PREADY(VCC),
	.PER2_FABRIC_PSLVERR(VCC),
	.RCGF({VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC}),
	.RX_CLKPF(MAC_MII_RX_CLK),
	.RX_DVF(MAC_MII_RX_DV),
	.RX_ERRF(MAC_MII_RX_ER),
	.RX_EV(VCC),
	.RXDF({VCC, VCC, VCC, VCC, MAC_MII_RXD[3:0]}),
	.SLEEPHOLDREQ(GND),
	.SMBALERT_NI0(VCC),
	.SMBALERT_NI1(VCC),
	.SMBSUS_NI0(VCC),
	.SMBSUS_NI1(VCC),
	.SPI0_CLK_IN(VCC),
	.SPI0_SDI_F2H_SCP(VCC),
	.SPI0_SDO_F2H_SCP(VCC),
	.SPI0_SS0_F2H_SCP(VCC),
	.SPI0_SS1_F2H_SCP(VCC),
	.SPI0_SS2_F2H_SCP(VCC),
	.SPI0_SS3_F2H_SCP(VCC),
	.SPI1_CLK_IN(VCC),
	.SPI1_SDI_F2H_SCP(VCC),
	.SPI1_SDO_F2H_SCP(VCC),
	.SPI1_SS0_F2H_SCP(VCC),
	.SPI1_SS1_F2H_SCP(VCC),
	.SPI1_SS2_F2H_SCP(VCC),
	.SPI1_SS3_F2H_SCP(VCC),
	.TX_CLKPF(MAC_MII_TX_CLK),
	.USER_MSS_GPIO_RESET_N(VCC),
	.USER_MSS_RESET_N(VCC),
	.XCLK_FAB(VCC),
	.CLK_BASE(MCCC_CLK_BASE),
	.CLK_MDDR_APB(VCC),
	.F_ARADDR_HADDR1({VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC}),
	.F_ARBURST_HTRANS1({GND, GND}),
	.F_ARID_HSEL1({GND, GND, GND, GND}),
	.F_ARLEN_HBURST1({GND, GND, GND, GND}),
	.F_ARLOCK_HMASTLOCK1({GND, GND}),
	.F_ARSIZE_HSIZE1({GND, GND}),
	.F_ARVALID_HWRITE1(GND),
	.F_AWADDR_HADDR0({VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC}),
	.F_AWBURST_HTRANS0({GND, GND}),
	.F_AWID_HSEL0({GND, GND, GND, GND}),
	.F_AWLEN_HBURST0({GND, GND, GND, GND}),
	.F_AWLOCK_HMASTLOCK0({GND, GND}),
	.F_AWSIZE_HSIZE0({GND, GND}),
	.F_AWVALID_HWRITE0(GND),
	.F_BREADY(GND),
	.F_RMW_AXI(GND),
	.F_RREADY(GND),
	.F_WDATA_HWDATA01({VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC}),
	.F_WID_HREADY01({GND, GND, GND, GND}),
	.F_WLAST(GND),
	.F_WSTRB({GND, GND, GND, GND, GND, GND, GND, GND}),
	.F_WVALID(GND),
	.FPGA_MDDR_ARESET_N(VCC),
	.MDDR_FABRIC_PADDR({VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC}),
	.MDDR_FABRIC_PENABLE(VCC),
	.MDDR_FABRIC_PSEL(VCC),
	.MDDR_FABRIC_PWDATA({VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC}),
	.MDDR_FABRIC_PWRITE(VCC),
	.PRESET_N(GND),
	.CAN_RXBUS_USBA_DATA1_MGPIO3A_IN(GND),
	.CAN_TX_EBL_USBA_DATA2_MGPIO4A_IN(GND),
	.CAN_TXBUS_USBA_DATA0_MGPIO2A_IN(GND),
	.DM_IN({GND, MDDR_DM_RDQS_1_PAD_Y, MDDR_DM_RDQS_0_PAD_Y}),
	.DRAM_DQ_IN({GND, GND, MDDR_DQ_15_PAD_Y, MDDR_DQ_14_PAD_Y, MDDR_DQ_13_PAD_Y, MDDR_DQ_12_PAD_Y, MDDR_DQ_11_PAD_Y, MDDR_DQ_10_PAD_Y, MDDR_DQ_9_PAD_Y, MDDR_DQ_8_PAD_Y, MDDR_DQ_7_PAD_Y, MDDR_DQ_6_PAD_Y, MDDR_DQ_5_PAD_Y, MDDR_DQ_4_PAD_Y, MDDR_DQ_3_PAD_Y, MDDR_DQ_2_PAD_Y, MDDR_DQ_1_PAD_Y, MDDR_DQ_0_PAD_Y}),
	.DRAM_DQS_IN({GND, MDDR_DQS_1_PAD_Y, MDDR_DQS_0_PAD_Y}),
	.DRAM_FIFO_WE_IN({GND, MDDR_DQS_TMATCH_0_IN_PAD_Y}),
	.I2C0_SCL_USBC_DATA1_MGPIO31B_IN(I2C_0_SCL_PAD_Y),
	.I2C0_SDA_USBC_DATA0_MGPIO30B_IN(I2C_0_SDA_PAD_Y),
	.I2C1_SCL_USBA_DATA4_MGPIO1A_IN(I2C_1_SCL_PAD_Y),
	.I2C1_SDA_USBA_DATA3_MGPIO0A_IN(I2C_1_SDA_PAD_Y),
	.MMUART0_CTS_USBC_DATA7_MGPIO19B_IN(GND),
	.MMUART0_DCD_MGPIO22B_IN(GND),
	.MMUART0_DSR_MGPIO20B_IN(GND),
	.MMUART0_DTR_USBC_DATA6_MGPIO18B_IN(GND),
	.MMUART0_RI_MGPIO21B_IN(GND),
	.MMUART0_RTS_USBC_DATA5_MGPIO17B_IN(GND),
	.MMUART0_RXD_USBC_STP_MGPIO28B_IN(MMUART_0_RXD_PAD_Y),
	.MMUART0_SCK_USBC_NXT_MGPIO29B_IN(GND),
	.MMUART0_TXD_USBC_DIR_MGPIO27B_IN(GND),
	.MMUART1_RXD_USBC_DATA3_MGPIO26B_IN(MMUART_1_RXD_PAD_Y),
	.MMUART1_SCK_USBC_DATA4_MGPIO25B_IN(GND),
	.MMUART1_TXD_USBC_DATA2_MGPIO24B_IN(GND),
	.RGMII_GTX_CLK_RMII_CLK_USBB_XCLK_IN(USB_ULPI_XCLK_PAD_Y),
	.RGMII_MDC_RMII_MDC_IN(GND),
	.RGMII_MDIO_RMII_MDIO_USBB_DATA7_IN(USB_ULPI_DATA_7_PAD_Y),
	.RGMII_RX_CLK_IN(GND),
	.RGMII_RX_CTL_RMII_CRS_DV_USBB_DATA2_IN(USB_ULPI_DATA_2_PAD_Y),
	.RGMII_RXD0_RMII_RXD0_USBB_DATA0_IN(USB_ULPI_DATA_0_PAD_Y),
	.RGMII_RXD1_RMII_RXD1_USBB_DATA1_IN(USB_ULPI_DATA_1_PAD_Y),
	.RGMII_RXD2_RMII_RX_ER_USBB_DATA3_IN(USB_ULPI_DATA_3_PAD_Y),
	.RGMII_RXD3_USBB_DATA4_IN(USB_ULPI_DATA_4_PAD_Y),
	.RGMII_TX_CLK_IN(GND),
	.RGMII_TX_CTL_RMII_TX_EN_USBB_NXT_IN(USB_ULPI_NXT_PAD_Y),
	.RGMII_TXD0_RMII_TXD0_USBB_DIR_IN(USB_ULPI_DIR_PAD_Y),
	.RGMII_TXD1_RMII_TXD1_USBB_STP_IN(GND),
	.RGMII_TXD2_USBB_DATA5_IN(USB_ULPI_DATA_5_PAD_Y),
	.RGMII_TXD3_USBB_DATA6_IN(USB_ULPI_DATA_6_PAD_Y),
	.SPI0_SCK_USBA_XCLK_IN(SPI_0_CLK_PAD_Y),
	.SPI0_SDI_USBA_DIR_MGPIO5A_IN(SPI_0_DI_PAD_Y),
	.SPI0_SDO_USBA_STP_MGPIO6A_IN(GND),
	.SPI0_SS0_USBA_NXT_MGPIO7A_IN(SPI_0_SS0_PAD_Y),
	.SPI0_SS1_USBA_DATA5_MGPIO8A_IN(GND),
	.SPI0_SS2_USBA_DATA6_MGPIO9A_IN(GND),
	.SPI0_SS3_USBA_DATA7_MGPIO10A_IN(GND),
	.SPI1_SCK_IN(SPI_1_CLK_PAD_Y),
	.SPI1_SDI_MGPIO11A_IN(SPI_1_DI_PAD_Y),
	.SPI1_SDO_MGPIO12A_IN(GND),
	.SPI1_SS0_MGPIO13A_IN(SPI_1_SS0_PAD_Y),
	.SPI1_SS1_MGPIO14A_IN(GND),
	.SPI1_SS2_MGPIO15A_IN(GND),
	.SPI1_SS3_MGPIO16A_IN(GND),
	.SPI1_SS4_MGPIO17A_IN(GND),
	.SPI1_SS5_MGPIO18A_IN(GND),
	.SPI1_SS6_MGPIO23A_IN(GND),
	.SPI1_SS7_MGPIO24A_IN(GND),
	.USBC_XCLK_IN(GND),
	.CAN_RXBUS_USBA_DATA1_MGPIO3A_OUT(CAN_RXBUS_USBA_DATA1_MGPIO3A_OUT),
	.CAN_TX_EBL_USBA_DATA2_MGPIO4A_OUT(CAN_TX_EBL_USBA_DATA2_MGPIO4A_OUT),
	.CAN_TXBUS_USBA_DATA0_MGPIO2A_OUT(CAN_TXBUS_USBA_DATA0_MGPIO2A_OUT),
	.DRAM_ADDR(DRAM_ADDR_net_0[15:0]),
	.DRAM_BA(DRAM_BA_net_0[2:0]),
	.DRAM_CASN(MSS_ADLIB_INST_DRAM_CASN),
	.DRAM_CKE(MSS_ADLIB_INST_DRAM_CKE),
	.DRAM_CLK(MSS_ADLIB_INST_DRAM_CLK),
	.DRAM_CSN(MSS_ADLIB_INST_DRAM_CSN),
	.DRAM_DM_RDQS_OUT(DRAM_DM_RDQS_OUT_net_0[2:0]),
	.DRAM_DQ_OUT(DRAM_DQ_OUT_net_0[17:0]),
	.DRAM_DQS_OUT(DRAM_DQS_OUT_net_0[2:0]),
	.DRAM_FIFO_WE_OUT(DRAM_FIFO_WE_OUT_net_0[1:0]),
	.DRAM_ODT(MSS_ADLIB_INST_DRAM_ODT),
	.DRAM_RASN(MSS_ADLIB_INST_DRAM_RASN),
	.DRAM_RSTN(MSS_ADLIB_INST_DRAM_RSTN),
	.DRAM_WEN(MSS_ADLIB_INST_DRAM_WEN),
	.I2C0_SCL_USBC_DATA1_MGPIO31B_OUT(MSS_ADLIB_INST_I2C0_SCL_USBC_DATA1_MGPIO31B_OUT),
	.I2C0_SDA_USBC_DATA0_MGPIO30B_OUT(MSS_ADLIB_INST_I2C0_SDA_USBC_DATA0_MGPIO30B_OUT),
	.I2C1_SCL_USBA_DATA4_MGPIO1A_OUT(MSS_ADLIB_INST_I2C1_SCL_USBA_DATA4_MGPIO1A_OUT),
	.I2C1_SDA_USBA_DATA3_MGPIO0A_OUT(MSS_ADLIB_INST_I2C1_SDA_USBA_DATA3_MGPIO0A_OUT),
	.MMUART0_CTS_USBC_DATA7_MGPIO19B_OUT(MMUART0_CTS_USBC_DATA7_MGPIO19B_OUT),
	.MMUART0_DCD_MGPIO22B_OUT(MMUART0_DCD_MGPIO22B_OUT),
	.MMUART0_DSR_MGPIO20B_OUT(MMUART0_DSR_MGPIO20B_OUT),
	.MMUART0_DTR_USBC_DATA6_MGPIO18B_OUT(MMUART0_DTR_USBC_DATA6_MGPIO18B_OUT),
	.MMUART0_RI_MGPIO21B_OUT(MMUART0_RI_MGPIO21B_OUT),
	.MMUART0_RTS_USBC_DATA5_MGPIO17B_OUT(MMUART0_RTS_USBC_DATA5_MGPIO17B_OUT),
	.MMUART0_RXD_USBC_STP_MGPIO28B_OUT(MMUART0_RXD_USBC_STP_MGPIO28B_OUT),
	.MMUART0_SCK_USBC_NXT_MGPIO29B_OUT(MMUART0_SCK_USBC_NXT_MGPIO29B_OUT),
	.MMUART0_TXD_USBC_DIR_MGPIO27B_OUT(MSS_ADLIB_INST_MMUART0_TXD_USBC_DIR_MGPIO27B_OUT),
	.MMUART1_RXD_USBC_DATA3_MGPIO26B_OUT(MMUART1_RXD_USBC_DATA3_MGPIO26B_OUT),
	.MMUART1_SCK_USBC_DATA4_MGPIO25B_OUT(MMUART1_SCK_USBC_DATA4_MGPIO25B_OUT),
	.MMUART1_TXD_USBC_DATA2_MGPIO24B_OUT(MSS_ADLIB_INST_MMUART1_TXD_USBC_DATA2_MGPIO24B_OUT),
	.RGMII_GTX_CLK_RMII_CLK_USBB_XCLK_OUT(RGMII_GTX_CLK_RMII_CLK_USBB_XCLK_OUT),
	.RGMII_MDC_RMII_MDC_OUT(RGMII_MDC_RMII_MDC_OUT),
	.RGMII_MDIO_RMII_MDIO_USBB_DATA7_OUT(MSS_ADLIB_INST_RGMII_MDIO_RMII_MDIO_USBB_DATA7_OUT),
	.RGMII_RX_CLK_OUT(RGMII_RX_CLK_OUT),
	.RGMII_RX_CTL_RMII_CRS_DV_USBB_DATA2_OUT(MSS_ADLIB_INST_RGMII_RX_CTL_RMII_CRS_DV_USBB_DATA2_OUT),
	.RGMII_RXD0_RMII_RXD0_USBB_DATA0_OUT(MSS_ADLIB_INST_RGMII_RXD0_RMII_RXD0_USBB_DATA0_OUT),
	.RGMII_RXD1_RMII_RXD1_USBB_DATA1_OUT(MSS_ADLIB_INST_RGMII_RXD1_RMII_RXD1_USBB_DATA1_OUT),
	.RGMII_RXD2_RMII_RX_ER_USBB_DATA3_OUT(MSS_ADLIB_INST_RGMII_RXD2_RMII_RX_ER_USBB_DATA3_OUT),
	.RGMII_RXD3_USBB_DATA4_OUT(MSS_ADLIB_INST_RGMII_RXD3_USBB_DATA4_OUT),
	.RGMII_TX_CLK_OUT(RGMII_TX_CLK_OUT),
	.RGMII_TX_CTL_RMII_TX_EN_USBB_NXT_OUT(RGMII_TX_CTL_RMII_TX_EN_USBB_NXT_OUT),
	.RGMII_TXD0_RMII_TXD0_USBB_DIR_OUT(RGMII_TXD0_RMII_TXD0_USBB_DIR_OUT),
	.RGMII_TXD1_RMII_TXD1_USBB_STP_OUT(MSS_ADLIB_INST_RGMII_TXD1_RMII_TXD1_USBB_STP_OUT),
	.RGMII_TXD2_USBB_DATA5_OUT(MSS_ADLIB_INST_RGMII_TXD2_USBB_DATA5_OUT),
	.RGMII_TXD3_USBB_DATA6_OUT(MSS_ADLIB_INST_RGMII_TXD3_USBB_DATA6_OUT),
	.SPI0_SCK_USBA_XCLK_OUT(MSS_ADLIB_INST_SPI0_SCK_USBA_XCLK_OUT),
	.SPI0_SDI_USBA_DIR_MGPIO5A_OUT(SPI0_SDI_USBA_DIR_MGPIO5A_OUT),
	.SPI0_SDO_USBA_STP_MGPIO6A_OUT(MSS_ADLIB_INST_SPI0_SDO_USBA_STP_MGPIO6A_OUT),
	.SPI0_SS0_USBA_NXT_MGPIO7A_OUT(MSS_ADLIB_INST_SPI0_SS0_USBA_NXT_MGPIO7A_OUT),
	.SPI0_SS1_USBA_DATA5_MGPIO8A_OUT(SPI0_SS1_USBA_DATA5_MGPIO8A_OUT),
	.SPI0_SS2_USBA_DATA6_MGPIO9A_OUT(SPI0_SS2_USBA_DATA6_MGPIO9A_OUT),
	.SPI0_SS3_USBA_DATA7_MGPIO10A_OUT(SPI0_SS3_USBA_DATA7_MGPIO10A_OUT),
	.SPI1_SCK_OUT(MSS_ADLIB_INST_SPI1_SCK_OUT),
	.SPI1_SDI_MGPIO11A_OUT(SPI1_SDI_MGPIO11A_OUT),
	.SPI1_SDO_MGPIO12A_OUT(MSS_ADLIB_INST_SPI1_SDO_MGPIO12A_OUT),
	.SPI1_SS0_MGPIO13A_OUT(MSS_ADLIB_INST_SPI1_SS0_MGPIO13A_OUT),
	.SPI1_SS1_MGPIO14A_OUT(SPI1_SS1_MGPIO14A_OUT),
	.SPI1_SS2_MGPIO15A_OUT(SPI1_SS2_MGPIO15A_OUT),
	.SPI1_SS3_MGPIO16A_OUT(SPI1_SS3_MGPIO16A_OUT),
	.SPI1_SS4_MGPIO17A_OUT(SPI1_SS4_MGPIO17A_OUT),
	.SPI1_SS5_MGPIO18A_OUT(SPI1_SS5_MGPIO18A_OUT),
	.SPI1_SS6_MGPIO23A_OUT(SPI1_SS6_MGPIO23A_OUT),
	.SPI1_SS7_MGPIO24A_OUT(SPI1_SS7_MGPIO24A_OUT),
	.USBC_XCLK_OUT(USBC_XCLK_OUT),
	.CAN_RXBUS_USBA_DATA1_MGPIO3A_OE(CAN_RXBUS_USBA_DATA1_MGPIO3A_OE),
	.CAN_TX_EBL_USBA_DATA2_MGPIO4A_OE(CAN_TX_EBL_USBA_DATA2_MGPIO4A_OE),
	.CAN_TXBUS_USBA_DATA0_MGPIO2A_OE(CAN_TXBUS_USBA_DATA0_MGPIO2A_OE),
	.DM_OE(DM_OE_net_0[2:0]),
	.DRAM_DQ_OE(DRAM_DQ_OE_net_0[17:0]),
	.DRAM_DQS_OE(DRAM_DQS_OE_net_0[2:0]),
	.I2C0_SCL_USBC_DATA1_MGPIO31B_OE(MSS_ADLIB_INST_I2C0_SCL_USBC_DATA1_MGPIO31B_OE),
	.I2C0_SDA_USBC_DATA0_MGPIO30B_OE(MSS_ADLIB_INST_I2C0_SDA_USBC_DATA0_MGPIO30B_OE),
	.I2C1_SCL_USBA_DATA4_MGPIO1A_OE(MSS_ADLIB_INST_I2C1_SCL_USBA_DATA4_MGPIO1A_OE),
	.I2C1_SDA_USBA_DATA3_MGPIO0A_OE(MSS_ADLIB_INST_I2C1_SDA_USBA_DATA3_MGPIO0A_OE),
	.MMUART0_CTS_USBC_DATA7_MGPIO19B_OE(MMUART0_CTS_USBC_DATA7_MGPIO19B_OE),
	.MMUART0_DCD_MGPIO22B_OE(MMUART0_DCD_MGPIO22B_OE),
	.MMUART0_DSR_MGPIO20B_OE(MMUART0_DSR_MGPIO20B_OE),
	.MMUART0_DTR_USBC_DATA6_MGPIO18B_OE(MMUART0_DTR_USBC_DATA6_MGPIO18B_OE),
	.MMUART0_RI_MGPIO21B_OE(MMUART0_RI_MGPIO21B_OE),
	.MMUART0_RTS_USBC_DATA5_MGPIO17B_OE(MMUART0_RTS_USBC_DATA5_MGPIO17B_OE),
	.MMUART0_RXD_USBC_STP_MGPIO28B_OE(MMUART0_RXD_USBC_STP_MGPIO28B_OE),
	.MMUART0_SCK_USBC_NXT_MGPIO29B_OE(MMUART0_SCK_USBC_NXT_MGPIO29B_OE),
	.MMUART0_TXD_USBC_DIR_MGPIO27B_OE(MSS_ADLIB_INST_MMUART0_TXD_USBC_DIR_MGPIO27B_OE),
	.MMUART1_RXD_USBC_DATA3_MGPIO26B_OE(MMUART1_RXD_USBC_DATA3_MGPIO26B_OE),
	.MMUART1_SCK_USBC_DATA4_MGPIO25B_OE(MMUART1_SCK_USBC_DATA4_MGPIO25B_OE),
	.MMUART1_TXD_USBC_DATA2_MGPIO24B_OE(MSS_ADLIB_INST_MMUART1_TXD_USBC_DATA2_MGPIO24B_OE),
	.RGMII_GTX_CLK_RMII_CLK_USBB_XCLK_OE(RGMII_GTX_CLK_RMII_CLK_USBB_XCLK_OE),
	.RGMII_MDC_RMII_MDC_OE(RGMII_MDC_RMII_MDC_OE),
	.RGMII_MDIO_RMII_MDIO_USBB_DATA7_OE(MSS_ADLIB_INST_RGMII_MDIO_RMII_MDIO_USBB_DATA7_OE),
	.RGMII_RX_CLK_OE(RGMII_RX_CLK_OE),
	.RGMII_RX_CTL_RMII_CRS_DV_USBB_DATA2_OE(MSS_ADLIB_INST_RGMII_RX_CTL_RMII_CRS_DV_USBB_DATA2_OE),
	.RGMII_RXD0_RMII_RXD0_USBB_DATA0_OE(MSS_ADLIB_INST_RGMII_RXD0_RMII_RXD0_USBB_DATA0_OE),
	.RGMII_RXD1_RMII_RXD1_USBB_DATA1_OE(MSS_ADLIB_INST_RGMII_RXD1_RMII_RXD1_USBB_DATA1_OE),
	.RGMII_RXD2_RMII_RX_ER_USBB_DATA3_OE(MSS_ADLIB_INST_RGMII_RXD2_RMII_RX_ER_USBB_DATA3_OE),
	.RGMII_RXD3_USBB_DATA4_OE(MSS_ADLIB_INST_RGMII_RXD3_USBB_DATA4_OE),
	.RGMII_TX_CLK_OE(RGMII_TX_CLK_OE),
	.RGMII_TX_CTL_RMII_TX_EN_USBB_NXT_OE(RGMII_TX_CTL_RMII_TX_EN_USBB_NXT_OE),
	.RGMII_TXD0_RMII_TXD0_USBB_DIR_OE(RGMII_TXD0_RMII_TXD0_USBB_DIR_OE),
	.RGMII_TXD1_RMII_TXD1_USBB_STP_OE(MSS_ADLIB_INST_RGMII_TXD1_RMII_TXD1_USBB_STP_OE),
	.RGMII_TXD2_USBB_DATA5_OE(MSS_ADLIB_INST_RGMII_TXD2_USBB_DATA5_OE),
	.RGMII_TXD3_USBB_DATA6_OE(MSS_ADLIB_INST_RGMII_TXD3_USBB_DATA6_OE),
	.SPI0_SCK_USBA_XCLK_OE(MSS_ADLIB_INST_SPI0_SCK_USBA_XCLK_OE),
	.SPI0_SDI_USBA_DIR_MGPIO5A_OE(SPI0_SDI_USBA_DIR_MGPIO5A_OE),
	.SPI0_SDO_USBA_STP_MGPIO6A_OE(MSS_ADLIB_INST_SPI0_SDO_USBA_STP_MGPIO6A_OE),
	.SPI0_SS0_USBA_NXT_MGPIO7A_OE(MSS_ADLIB_INST_SPI0_SS0_USBA_NXT_MGPIO7A_OE),
	.SPI0_SS1_USBA_DATA5_MGPIO8A_OE(SPI0_SS1_USBA_DATA5_MGPIO8A_OE),
	.SPI0_SS2_USBA_DATA6_MGPIO9A_OE(SPI0_SS2_USBA_DATA6_MGPIO9A_OE),
	.SPI0_SS3_USBA_DATA7_MGPIO10A_OE(SPI0_SS3_USBA_DATA7_MGPIO10A_OE),
	.SPI1_SCK_OE(MSS_ADLIB_INST_SPI1_SCK_OE),
	.SPI1_SDI_MGPIO11A_OE(SPI1_SDI_MGPIO11A_OE),
	.SPI1_SDO_MGPIO12A_OE(MSS_ADLIB_INST_SPI1_SDO_MGPIO12A_OE),
	.SPI1_SS0_MGPIO13A_OE(MSS_ADLIB_INST_SPI1_SS0_MGPIO13A_OE),
	.SPI1_SS1_MGPIO14A_OE(SPI1_SS1_MGPIO14A_OE),
	.SPI1_SS2_MGPIO15A_OE(SPI1_SS2_MGPIO15A_OE),
	.SPI1_SS3_MGPIO16A_OE(SPI1_SS3_MGPIO16A_OE),
	.SPI1_SS4_MGPIO17A_OE(SPI1_SS4_MGPIO17A_OE),
	.SPI1_SS5_MGPIO18A_OE(SPI1_SS5_MGPIO18A_OE),
	.SPI1_SS6_MGPIO23A_OE(SPI1_SS6_MGPIO23A_OE),
	.SPI1_SS7_MGPIO24A_OE(SPI1_SS7_MGPIO24A_OE),
	.USBC_XCLK_OE(USBC_XCLK_OE)
);
defparam MSS_ADLIB_INST.INIT=1438'h0000040100361200000000000000003610008000000000000000000000000000000000001203610000000000000000000120361000000000100520481204812048120D8120D8120F00000000F000000000000000000000000000000007FFFFFFFB000001007C37F00020200E09280F00183FFFFE400000000002150000000000E11C0000007E4800010842108421000001FE34001FF8000000400000000020091007FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF;
defparam MSS_ADLIB_INST.ACT_UBITS=56'hFFFFFFFFFFFFFF;
defparam MSS_ADLIB_INST.MEMORYFILE="ENVM_init.mem";
defparam MSS_ADLIB_INST.RTC_MAIN_XTL_FREQ=0.0;
defparam MSS_ADLIB_INST.RTC_MAIN_XTL_MODE="";
defparam MSS_ADLIB_INST.DDR_CLK_FREQ=200.0;
// @6:1187
  BIBUF_DIFF MDDR_DQS_1_PAD (
	.PADN(MDDR_DQS_N[1]),
	.PADP(MDDR_DQS[1]),
	.Y(MDDR_DQS_1_PAD_Y),
	.D(DRAM_DQS_OUT_net_0[1]),
	.E(DRAM_DQS_OE_net_0[1])
);
defparam MDDR_DQS_1_PAD.IOSTD="SSTL18I";
// @6:1173
  BIBUF_DIFF MDDR_DQS_0_PAD (
	.PADN(MDDR_DQS_N[0]),
	.PADP(MDDR_DQS[0]),
	.Y(MDDR_DQS_0_PAD_Y),
	.D(DRAM_DQS_OUT_net_0[0]),
	.E(DRAM_DQS_OE_net_0[0])
);
defparam MDDR_DQS_0_PAD.IOSTD="SSTL18I";
// @6:918
  OUTBUF_DIFF MDDR_CLK_PAD (
	.PADN(MDDR_CLK_N),
	.PADP(MDDR_CLK),
	.D(MSS_ADLIB_INST_DRAM_CLK)
);
defparam MDDR_CLK_PAD.IOSTD="SSTL18I";
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* SF2Project_MSS */

module SF2Project (
  MAC_MII_COL,
  MAC_MII_CRS,
  MAC_MII_RXD,
  MAC_MII_RX_CLK,
  MAC_MII_RX_DV,
  MAC_MII_RX_ER,
  MAC_MII_TX_CLK,
  MCCC_CLK_BASE,
  MDDR_DQS_TMATCH_0_IN,
  MMUART_0_RXD,
  MMUART_1_RXD,
  SPI_0_DI,
  SPI_1_DI,
  USB_ULPI_DIR,
  USB_ULPI_NXT,
  USB_ULPI_XCLK,
  MAC_MII_TXD,
  MAC_MII_TX_EN,
  MAC_MII_TX_ER,
  MDDR_ADDR,
  MDDR_BA,
  MDDR_CAS_N,
  MDDR_CKE,
  MDDR_CLK,
  MDDR_CLK_N,
  MDDR_CS_N,
  MDDR_DQS_TMATCH_0_OUT,
  MDDR_ODT,
  MDDR_RAS_N,
  MDDR_RESET_N,
  MDDR_WE_N,
  MMUART_0_TXD,
  MMUART_1_TXD,
  SPI_0_DO,
  SPI_1_DO,
  USB_ULPI_STP,
  I2C_0_SCL,
  I2C_0_SDA,
  I2C_1_SCL,
  I2C_1_SDA,
  MDDR_DM_RDQS,
  MDDR_DQ,
  MDDR_DQS,
  MDDR_DQS_N,
  SPI_0_CLK,
  SPI_0_SS0,
  SPI_1_CLK,
  SPI_1_SS0,
  USB_ULPI_DATA
)
;
input MAC_MII_COL ;
input MAC_MII_CRS ;
input [3:0] MAC_MII_RXD ;
input MAC_MII_RX_CLK ;
input MAC_MII_RX_DV ;
input MAC_MII_RX_ER ;
input MAC_MII_TX_CLK ;
input MCCC_CLK_BASE ;
input MDDR_DQS_TMATCH_0_IN ;
input MMUART_0_RXD ;
input MMUART_1_RXD ;
input SPI_0_DI ;
input SPI_1_DI ;
input USB_ULPI_DIR ;
input USB_ULPI_NXT ;
input USB_ULPI_XCLK ;
output [3:0] MAC_MII_TXD ;
output MAC_MII_TX_EN ;
output MAC_MII_TX_ER ;
output [15:0] MDDR_ADDR ;
output [2:0] MDDR_BA ;
output MDDR_CAS_N ;
output MDDR_CKE ;
output MDDR_CLK ;
output MDDR_CLK_N ;
output MDDR_CS_N ;
output MDDR_DQS_TMATCH_0_OUT ;
output MDDR_ODT ;
output MDDR_RAS_N ;
output MDDR_RESET_N ;
output MDDR_WE_N ;
output MMUART_0_TXD /* synthesis syn_tristate = 1 */ ;
output MMUART_1_TXD /* synthesis syn_tristate = 1 */ ;
output SPI_0_DO /* synthesis syn_tristate = 1 */ ;
output SPI_1_DO /* synthesis syn_tristate = 1 */ ;
output USB_ULPI_STP /* synthesis syn_tristate = 1 */ ;
inout I2C_0_SCL /* synthesis syn_tristate = 1 */ ;
inout I2C_0_SDA /* synthesis syn_tristate = 1 */ ;
inout I2C_1_SCL /* synthesis syn_tristate = 1 */ ;
inout I2C_1_SDA /* synthesis syn_tristate = 1 */ ;
inout [1:0] MDDR_DM_RDQS /* synthesis syn_tristate = 1 */ ;
inout [15:0] MDDR_DQ /* synthesis syn_tristate = 1 */ ;
inout [1:0] MDDR_DQS /* synthesis syn_tristate = 1 */ ;
inout [1:0] MDDR_DQS_N /* synthesis syn_tristate = 1 */ ;
inout SPI_0_CLK /* synthesis syn_tristate = 1 */ ;
inout SPI_0_SS0 /* synthesis syn_tristate = 1 */ ;
inout SPI_1_CLK /* synthesis syn_tristate = 1 */ ;
inout SPI_1_SS0 /* synthesis syn_tristate = 1 */ ;
inout [7:0] USB_ULPI_DATA /* synthesis syn_tristate = 1 */ ;
wire MAC_MII_COL ;
wire MAC_MII_CRS ;
wire MAC_MII_RX_CLK ;
wire MAC_MII_RX_DV ;
wire MAC_MII_RX_ER ;
wire MAC_MII_TX_CLK ;
wire MCCC_CLK_BASE ;
wire MDDR_DQS_TMATCH_0_IN ;
wire MMUART_0_RXD ;
wire MMUART_1_RXD ;
wire SPI_0_DI ;
wire SPI_1_DI ;
wire USB_ULPI_DIR ;
wire USB_ULPI_NXT ;
wire USB_ULPI_XCLK ;
wire MAC_MII_TX_EN ;
wire MAC_MII_TX_ER ;
wire MDDR_CAS_N ;
wire MDDR_CKE ;
wire MDDR_CLK ;
wire MDDR_CLK_N ;
wire MDDR_CS_N ;
wire MDDR_DQS_TMATCH_0_OUT ;
wire MDDR_ODT ;
wire MDDR_RAS_N ;
wire MDDR_RESET_N ;
wire MDDR_WE_N ;
wire MMUART_0_TXD ;
wire MMUART_1_TXD ;
wire SPI_0_DO ;
wire SPI_1_DO ;
wire USB_ULPI_STP ;
wire I2C_0_SCL ;
wire I2C_0_SDA ;
wire I2C_1_SCL ;
wire I2C_1_SDA ;
wire SPI_0_CLK ;
wire SPI_0_SS0 ;
wire SPI_1_CLK ;
wire SPI_1_SS0 ;
wire GND ;
wire VCC ;
// @7:241
  SF2Project_MSS SF2Project_MSS_0 (
	.MDDR_DQS(MDDR_DQS[1:0]),
	.MDDR_DQS_N(MDDR_DQS_N[1:0]),
	.MAC_MII_RXD(MAC_MII_RXD[3:0]),
	.MAC_MII_TXD(MAC_MII_TXD[3:0]),
	.MDDR_ADDR(MDDR_ADDR[15:0]),
	.MDDR_BA(MDDR_BA[2:0]),
	.MDDR_DM_RDQS(MDDR_DM_RDQS[1:0]),
	.MDDR_DQ(MDDR_DQ[15:0]),
	.USB_ULPI_DATA(USB_ULPI_DATA[7:0]),
	.MDDR_CLK(MDDR_CLK),
	.MDDR_CLK_N(MDDR_CLK_N),
	.MCCC_CLK_BASE(MCCC_CLK_BASE),
	.MAC_MII_TX_CLK(MAC_MII_TX_CLK),
	.MAC_MII_RX_ER(MAC_MII_RX_ER),
	.MAC_MII_RX_DV(MAC_MII_RX_DV),
	.MAC_MII_RX_CLK(MAC_MII_RX_CLK),
	.MAC_MII_CRS(MAC_MII_CRS),
	.MAC_MII_COL(MAC_MII_COL),
	.MAC_MII_TX_ER(MAC_MII_TX_ER),
	.MAC_MII_TX_EN(MAC_MII_TX_EN),
	.I2C_0_SCL(I2C_0_SCL),
	.I2C_0_SDA(I2C_0_SDA),
	.I2C_1_SCL(I2C_1_SCL),
	.I2C_1_SDA(I2C_1_SDA),
	.MDDR_CAS_N(MDDR_CAS_N),
	.MDDR_CKE(MDDR_CKE),
	.MDDR_CS_N(MDDR_CS_N),
	.MDDR_DQS_TMATCH_0_IN(MDDR_DQS_TMATCH_0_IN),
	.MDDR_DQS_TMATCH_0_OUT(MDDR_DQS_TMATCH_0_OUT),
	.MDDR_ODT(MDDR_ODT),
	.MDDR_RAS_N(MDDR_RAS_N),
	.MDDR_RESET_N(MDDR_RESET_N),
	.MDDR_WE_N(MDDR_WE_N),
	.MMUART_0_RXD(MMUART_0_RXD),
	.MMUART_0_TXD(MMUART_0_TXD),
	.MMUART_1_RXD(MMUART_1_RXD),
	.MMUART_1_TXD(MMUART_1_TXD),
	.SPI_0_CLK(SPI_0_CLK),
	.SPI_0_DI(SPI_0_DI),
	.SPI_0_DO(SPI_0_DO),
	.SPI_0_SS0(SPI_0_SS0),
	.SPI_1_CLK(SPI_1_CLK),
	.SPI_1_DI(SPI_1_DI),
	.SPI_1_DO(SPI_1_DO),
	.SPI_1_SS0(SPI_1_SS0),
	.USB_ULPI_DIR(USB_ULPI_DIR),
	.USB_ULPI_NXT(USB_ULPI_NXT),
	.USB_ULPI_STP(USB_ULPI_STP),
	.USB_ULPI_XCLK(USB_ULPI_XCLK)
);
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* SF2Project */

